In [1]:
import pandas as pd

In [2]:
df_sdg = pd.read_pickle("../data/dataframes/SDG/all_sdg_fixed_dst.pkl")

In [8]:
df_sdg.iloc[1].CN.split(", ")

['Russia', 'Russia', 'Russia', 'Russia']

In [9]:
from collections import Counter

dic_sdg = {f'SDG{i}':Counter() for i in range(1,18)}

In [10]:
for ind, row in df_sdg.iterrows():
    nb_authors = len(row.CN.split(", "))
    for sdg in dic_sdg:
        if row[sdg]:
            dic_sdg[sdg]['authors'] += nb_authors
            dic_sdg[sdg]['publication'] += 1

In [16]:
df_test = pd.DataFrame.from_dict(dic_sdg, orient="index")
df_test.loc[:, 'author/pub'] = df_test['authors'] / df_test['publication']
df_test

4.202549006489597
5.170956694653115
6.025010690120651
3.725479939321023
4.957572121078145
4.853076858769256
4.076623395088936
2.980121364302155
3.8948118784338273
3.1378944285818875
3.7296525882989022
4.608050033192411
4.770973825580066
5.282053266804408
4.801687811126968
3.483947890660009
3.6604186309636053

       authors  publication  author/pub
SDG1    125631        29894    4.202549
SDG2     93615        18104    5.170957
SDG3    718597       119269    6.025011
SDG4    213660        57351    3.725480
SDG5    313968        63331    4.957572
SDG6    638563       131579    4.853077
SDG7    286713        70331    4.076623
SDG8     85452        28674    2.980121
SDG9    112007        28758    3.894812
SDG10    85721        27318    3.137894
SDG11   296623        79531    3.729653
SDG12   395661        85863    4.608050
SDG13  1502685       314964    4.770974
SDG14   887105       167947    5.282053
SDG15   427307        88991    4.801688
SDG16   217691        62484    3.483948
SDG17   194112        53030    3.660419

In [17]:
df_dt = pd.read_pickle("../data/dataframes/digital/all_digital.pkl")

In [21]:
dic_dt = {dt:Counter() for dt in df_dt.columns[13:20]}
dic_dt

{'AI': Counter(),
 'big_data': Counter(),
 'IOT': Counter(),
 'computing_infrastructure': Counter(),
 'blockchain': Counter(),
 'robotics': Counter(),
 'additive_manufacturing': Counter()}

In [22]:
for ind, row in df_dt.iterrows():
    nb_authors = len(row.CN.split(", "))
    for dt in dic_dt:
        if row[dt]:
            dic_dt[dt]['authors'] += nb_authors
            dic_dt[dt]['publication'] += 1

df_test_dt = pd.DataFrame.from_dict(dic_dt, orient="index")
df_test_dt.loc[:, 'author/pub'] = df_test_dt['authors'] / df_test_dt['publication']
df_test_dt

                          authors  publication  author/pub
AI                        3054816       720577    4.239403
big_data                   366812        91081    4.027316
IOT                        678392       171469    3.956354
computing_infrastructure   574681       141351    4.065631
blockchain                  59083        15807    3.737774
robotics                   884210       208519    4.240429
additive_manufacturing     329263        66197    4.973987

In [31]:
dic_inter = {key:Counter() for key in list(dic_dt.keys()) + list(dic_sdg.keys())}
df_inter = df_sdg[df_sdg['DST']]
for ind, row in df_inter.iterrows():
    nb_authors = len(row.CN.split(", "))
    for key in dic_inter:
        if row[key]:
            dic_inter[key]['authors'] += nb_authors
            dic_inter[key]['publication'] += 1
df_test_inter = pd.DataFrame.from_dict(dic_inter, orient="index")
df_test_inter.loc[:, 'author/pub'] = df_test_inter['authors'] / df_test_inter['publication']
df_test_inter

                          authors  publication  author/pub
AI                         109522        23890    4.584429
big_data                    26134         6031    4.333278
IOT                         44325        10981    4.036518
computing_infrastructure    25946         5892    4.403598
blockchain                   3922         1079    3.634847
robotics                    28302         5699    4.966134
additive_manufacturing       8991         2024    4.442194
SDG1                         1182          271    4.361624
SDG2                         2037          417    4.884892
SDG3                        24427         4495    5.434260
SDG4                         6101         1579    3.863838
SDG5                         6003         1106    5.427667
SDG6                        13771         3044    4.523982
SDG7                        43582        10978    3.969940
SDG8                         4014         1061    3.783223
SDG9                         6905         1792    3.853237
SDG10                        3035          784    3.871173
SDG11                       22046         5344    4.125374
SDG12                       12642         2825    4.475044
SDG13                       45270         9488    4.771290
SDG14                       18821         3514    5.356005
SDG15                       13593         2793    4.866810
SDG16                        9825         2494    3.939455
SDG17                        5532         1318    4.197269

In [32]:
with pd.ExcelWriter('../img/Commission/avg_authors_per_field.xlsx') as writer:
    df_test.to_excel(writer, sheet_name='SDG')
    df_test_dt.to_excel(writer, sheet_name='Digital')
    df_test_inter.to_excel(writer, sheet_name='Intersection')