# raw, strength and specialization

In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.collections import PatchCollection
import plotly.graph_objects as go

from plotly.subplots import make_subplots
import plotly

In [2]:
df_sdg = pd.read_pickle("../data/dataframes/output/all_sdg_fixed_dst.pkl")
df_digital = pd.read_pickle("../data/dataframes/DT/dt_updated.pkl")
eu = pd.read_excel("../data/countries_eu.xlsx", sheet_name='EU')['Country'].to_list()
# Filtering for Journal only
df_sdg = df_sdg[df_sdg.PT == 'J']
df_digital = df_digital[df_digital.PT == 'J']
df_sdg_dt = df_sdg[df_sdg['DST']]

idx_sdg = {name: i for i, name in enumerate(list(df_sdg), start=0)}
idx_dt = {name: i for i, name in enumerate(list(df_digital), start=0)}
idx_sdg_dt = {name: i for i, name in enumerate(list(df_sdg_dt), start=0)}

In [3]:
eu_countries = pd.read_excel("../data/countries_eu.xlsx", sheet_name='EU').Country.to_list()
other_countries = pd.read_excel("../data/countries_eu.xlsx", sheet_name='rest').Country.to_list()
# gdp = pd.read_csv("../data/countriesgdp_pop.csv", index_col="ranking")
# gdp = gdp[gdp.Country.isin(eu_countries + other_countries)].set_index("Country")
# gdp.loc["EU", "gdppc"] = 44024
# gdp.loc["EU", "pop2022"] = 446800
# gdp.loc["EU", "gdp"] = 446800*44024
# gdp
gdppop = pd.read_excel("../data/gdp_avgpop.xlsx", index_col=0)

In [13]:
"""
# Digital

dic_countries = {country: [0, 0, 0]  for country in gdppop.index}
for row in df_digital.itertuples(index=False, name=None):
    lst_actors = row[idx_dt['CN']].split(", ")
    year = row[idx_dt['PY']]
    size_actors = len(lst_actors)
    for actor in lst_actors:
        if actor in dic_countries.keys():
            # Increment for digital
            dic_countries[actor][0] += 1 / size_actors
            if actor in eu_countries:
                dic_countries['EU'][0] += 1 / size_actors

# SDG & SDG-DT
for row in df_sdg.itertuples(index=False, name=None):
    lst_actors = row[idx_sdg['CN']].split(", ")
    year = row[idx_sdg['PY']]
    size_actors = len(lst_actors)
    for actor in lst_actors:
        if actor in dic_countries.keys():
            # Increment for SDG
            dic_countries[actor][1] += 1 / size_actors
            if actor in eu_countries:
                dic_countries['EU'][1] += 1 / size_actors
            if row[-1]:
                # Increment for SDG-DT
                dic_countries[actor][2] += 1 / size_actors
                if actor in eu_countries:
                    dic_countries['EU'][2] += 1 / size_actors
"""
from collections import Counter
dic_countries_frac = {country:Counter() for country in gdppop.index}
# Digital
for row in df_digital.itertuples(index=False, name=None):
    cn = row[idx_dt['CN']]
    lst_actors = cn.split(", ")
    size_actors = len(lst_actors)
    for actor in lst_actors:
        if actor in dic_countries_frac.keys():
            # Increment for digital
            dic_countries_frac[actor]['DT'] += 1/size_actors

            if actor in eu:
                dic_countries_frac['EU']['DT'] += 1/size_actors

# SDG & SDG-DT
for row in df_sdg.itertuples(index=False, name=None):
    cn = row[idx_sdg['CN']]
    lst_actors = cn.split(", ")
    size_actors = len(lst_actors)
    for actor in lst_actors:
        if actor in dic_countries_frac.keys():
            # Increment for SDG
            dic_countries_frac[actor]['SDG'] += 1/size_actors

            if actor in eu:
                dic_countries_frac['EU']['SDG'] += 1/size_actors

            if row[-1]:
                # Increment for SDG-DT
                dic_countries_frac[actor]['Inter'] += 1/size_actors

                if actor in eu:
                    dic_countries_frac['EU']['Inter'] += 1/size_actors

In [20]:
"""df_country = pd.DataFrame.from_dict(data=dic_countries, orient="index", columns=['SDG', 'DT', 'SDG-DT'])
df_country_eu = df_country.loc[eu_countries, :]
df_country_eu.index.names = ['Country']

df_country_eu = df_country_eu.merge(gdppop, left_index=True, right_index=True)
df_country_eu.loc[:, 'SDG-pop'] = df_country_eu.loc[:, 'SDG'] /  df_country_eu.loc[:, 'avg_pop']
df_country_eu.loc[:, 'DT-pop'] = df_country_eu.loc[:, 'DT'] /  df_country_eu.loc[:, 'avg_pop']
df_country_eu.loc[:, 'SDG-DT-pop'] = df_country_eu.loc[:, 'SDG-DT'] /  df_country_eu.loc[:, 'avg_pop']

df_country_eu.loc[:, 'SDG-gdp'] = df_country_eu.loc[:, 'SDG'] /  df_country_eu.loc[:, 'gdp']
df_country_eu.loc[:, 'DT-gdp'] = df_country_eu.loc[:, 'DT'] /  df_country_eu.loc[:, 'gdp']
df_country_eu.loc[:, 'SDG-DT-gdp'] = df_country_eu.loc[:, 'SDG-DT'] /  df_country_eu.loc[:, 'gdp']

df_country_eu"""

df_country = pd.DataFrame.from_dict(data=dic_countries_frac, orient="index")
df_country_eu = df_country.loc[eu, :]

df_country_eu.index.names = ['Country']

df_country_eu = df_country_eu.merge(gdppop, left_index=True, right_index=True)
df_country_eu.loc[:, 'SDG-pop'] = df_country_eu.loc[:, 'SDG'] /  df_country_eu.loc[:, 'avg_pop']
df_country_eu.loc[:, 'DT-pop'] = df_country_eu.loc[:, 'DT'] /  df_country_eu.loc[:, 'avg_pop']
df_country_eu.loc[:, 'Inter-pop'] = df_country_eu.loc[:, 'Inter'] /  df_country_eu.loc[:, 'avg_pop']

df_country_eu.loc[:, 'SDG-gdp'] = df_country_eu.loc[:, 'SDG'] /  df_country_eu.loc[:, 'gdp']
df_country_eu.loc[:, 'DT-gdp'] = df_country_eu.loc[:, 'DT'] /  df_country_eu.loc[:, 'gdp']
df_country_eu.loc[:, 'Inter-gdp'] = df_country_eu.loc[:, 'Inter'] /  df_country_eu.loc[:, 'gdp']
#
df_country_eu

,DT,SDG,Inter,avg_pop,gdp,SDG-pop,DT-pop,Inter-pop,SDG-gdp,DT-gdp,Inter-gdp
Austria,3236.053303,5372.635315,138.258313,8.665144e+06,92140.6,0.000620,0.000373,0.000016,0.058309,0.035121,0.001501
Belgium,4779.746296,8371.507113,181.901241,1.128651e+07,118204,0.000742,0.000423,0.000016,0.070823,0.040436,0.001539
Bulgaria,549.483471,1009.169897,24.554932,7.146214e+06,14512.3,0.000141,0.000077,0.000003,0.069539,0.037863,0.001692
Croatia,1225.321102,2621.667351,78.026927,4.161662e+06,12658.3,0.000630,0.000294,0.000019,0.207111,0.0968,0.006164
Cyprus,541.687904,851.738882,41.854211,1.165859e+06,5570.4,0.000731,0.000465,0.000036,0.152904,0.097244,0.007514
Czech Republic,2647.521995,4618.636023,107.792072,1.057757e+07,53083.1,0.000437,0.000250,0.000010,0.087008,0.049875,0.002031
Denmark,3078.092221,7977.961969,143.020285,5.703408e+06,77598.3,0.001399,0.000540,0.000025,0.102811,0.039667,0.001843
Estonia,438.769553,1238.384147,31.906383,1.322525e+06,6751.5,0.000936,0.000332,0.000024,0.183424,0.064988,0.004726
Finland,3615.406532,7719.220726,200.267440,5.471458e+06,57830,0.001411,0.000661,0.000037,0.133481,0.062518,0.003463
France,15853.700722,23290.960538,551.407769,6.648011e+07,604440.4,0.000350,0.000238,0.000008,0.038533,0.026229,0.000912
Germany,24569.802808,36083.595931,941.987972,8.192392e+07,862030,0.000440,0.000300,0.000011,0.041859,0.028502,0.001093
Greece,5160.642990,7298.045071,311.481502,1.085833e+07,39760.8,0.000672,0.000475,0.000029,0.183549,0.129792,0.007834
Hungary,1670.516461,2767.537751,85.481166,9.841952e+06,31845.5,0.000281,0.000170,0.000009,0.086905,0.052457,0.002684
Ireland,2429.286519,4481.205904,122.954903,4.758464e+06,101222.2,0.000942,0.000511,0.000026,0.044271,0.024,0.001215
Italy,24648.310547,37292.169893,1219.920814,5.998175e+07,412230.4,0.000622,0.000411,0.000020,0.090464,0.059793,0.002959
Latvia,217.616616,582.122971,10.760751,1.975161e+06,7103.2,0.000295,0.000110,0.000005,0.081952,0.030636,0.001515
Lithuania,788.154774,1752.292576,40.237259,2.899221e+06,12064.6,0.000604,0.000272,0.000014,0.145242,0.065328,0.003335
Luxembourg,339.384507,457.427076,23.212576,5.751099e+05,16685.8,0.000795,0.000590,0.000040,0.027414,0.02034,0.001391
Malta,96.151579,256.117513,2.943655,4.583858e+05,3510.5,0.000559,0.000210,0.000006,0.072958,0.02739,0.000839
Netherlands,8149.341042,17333.784583,330.855868,1.703215e+07,201099,0.001018,0.000478,0.000019,0.086195,0.040524,0.001645
Poland,7936.649903,13146.977740,349.013199,3.798107e+07,130755.9,0.000346,0.000209,0.000009,0.100546,0.060698,0.002669
Portugal,4985.216536,11419.517093,295.291351,1.038786e+07,49247.8,0.001099,0.000480,0.000028,0.231879,0.101227,0.005996
Romania,3257.436330,5698.929843,211.371191,1.972250e+07,46739,0.000289,0.000165,0.000011,0.121931,0.069694,0.004522
Slovakia,1092.612611,1733.551491,41.527329,5.427521e+06,22081.1,0.000319,0.000201,0.000008,0.078508,0.049482,0.001881
Slovenia,1550.891690,1862.611074,60.474226,2.070599e+06,11605.6,0.000900,0.000749,0.000029,0.160492,0.133633,0.005211
Spain,21779.103279,35876.370198,1183.567861,4.677820e+07,279044,0.000767,0.000466,0.000025,0.128569,0.078049,0.004242
Sweden,4989.671550,13918.160300,243.500257,9.887210e+06,125461.7,0.001408,0.000505,0.000025,0.110936,0.03977,0.001941

In [21]:
# df_country_eu.loc['max']= df_country_eu.max()
# df_country_eu

In [22]:
df_country_eu.columns

Index(['DT', 'SDG', 'Inter', 'avg_pop', 'gdp', 'SDG-pop', 'DT-pop',
       'Inter-pop', 'SDG-gdp', 'DT-gdp', 'Inter-gdp'],
      dtype='object')

In [23]:
for cat in ['SDG', 'DT', 'Inter', 'SDG-pop', 'DT-pop','Inter-pop', 'SDG-gdp', 'DT-gdp', 'Inter-gdp']:
    tit = cat.replace("-pop", "").replace("-gdp", "")
    print(tit)

SDG
DT
Inter
SDG
DT
Inter
SDG
DT
Inter

## Maps for EU

In [25]:
for cat in ['SDG', 'DT', 'Inter', 'SDG-pop', 'DT-pop','Inter-pop', 'SDG-gdp', 'DT-gdp', 'Inter-gdp']:
    # tit = cat.replace("-pop", "").replace("-gdp", "")
    if 'pop' in cat:
        spec = "/pop*"
        annot= "*Normalised by population"
    elif "gdp" in cat:
        spec = "/gdp*"
        annot = "*Normalised by GDP (in M€)"
    else:
        spec = ""
        annot = ""
    tit = f"Nb pubs{spec}"
    layout = go.Layout(
        annotations=[
            dict(
                x=1.05,
                y=1,
                align="right",
                valign="top",
                text=tit,
                showarrow=False,
                xref="paper",
                yref="paper",
                xanchor="center",
                yanchor="top",
                font_size=22,
                ),
            dict(
                x=0.25,
                y=-.01,
                align="right",
                valign="top",
                text=annot,
                showarrow=False,
                xref="paper",
                yref="paper",
                xanchor="center",
                yanchor="top",
                font_size=30,
                ),
            ],
        )
    fig = go.Figure(
            data=go.Choropleth(
                locations=df_country_eu.index,
                z=df_country_eu[cat],
                text=df_country_eu.index,
                locationmode="country names",
                colorscale='Blues',
                autocolorscale=False,
                colorbar=dict(
                    len=0.9,
                    y=0.5
                )
            ),
            layout=layout,
        )

    fig.update_layout(
        template='simple_white',
        font=dict(size=30),
        showlegend=True,
        geo=go.layout.Geo(
            scope="world",
            landcolor='lightgray',
            projection_scale=float(6.1),
            center=dict(lon=15, lat=52),
            projection_type="azimuthal equal area",
            showland=True,
            showcountries=False,
            showframe=False
        ),
        height=1080,
        width=1200

    )
    fig.write_image(f"../img/Commission/maps/EU_{cat}.jpg")
    # pio.write_image(fig, folder, format='png')

## Same on WORLD

In [66]:
%%time
set_countries = set()
for row in df_sdg.itertuples(index=False, name=None):
    cn = row[12]
    lst_actors = cn.split(", ")
    for actor in lst_actors:
        set_countries.add(actor)
set_countries.add('EU')

CPU times: user 3.44 s, sys: 0 ns, total: 3.44 s
Wall time: 3.44 s

In [68]:
len(set_countries)

218

In [69]:
# Digital

dic_countries = {country: [0, 0, 0]  for country in set_countries}

for row in df_digital.itertuples(index=False, name=None):
    lst_actors = row[idx_dt['CN']].split(", ")
    year = row[idx_dt['PY']]
    size_actors = len(lst_actors)
    for actor in lst_actors:
        # Increment for digital
        if actor in dic_countries:
            dic_countries[actor][0] += 1 / size_actors
            if actor in eu_countries:
                dic_countries['EU'][0] += 1 / size_actors

# SDG & SDG-DT
for row in df_sdg.itertuples(index=False, name=None):
    lst_actors = row[idx_sdg['CN']].split(", ")
    year = row[idx_sdg['PY']]
    size_actors = len(lst_actors)
    for actor in lst_actors:
        if actor in dic_countries:
            # Increment for SDG
            dic_countries[actor][1] += 1 / size_actors
            if actor in eu_countries:
                dic_countries['EU'][1] += 1 / size_actors
            if row[-1]:
                # Increment for SDG-DT
                dic_countries[actor][2] += 1 / size_actors
                if actor in eu_countries:
                    dic_countries['EU'][2] += 1 / size_actors

In [70]:
len(dic_countries)

218

In [71]:
dic_countries_to_rename = {"Palestine": "Palestinian Territory",
                                   "Cote d'Ivoire": "Ivory Coast",
                                   "Congo[DRC]": "Democratic Republic of the Congo",
                                   "Congo, Dem.Rep.": "Democratic Republic of the Congo",
                                   "Eswatini": "Swaziland",
                                   "Guinea Bissau": "Guinea-Bissau",
                                   "Timor-Leste": "East Timor",
                                   }
for country in dic_countries.copy():
    if country in dic_countries_to_rename:
        dic_countries[dic_countries_to_rename[country]] = dic_countries[country]

                          ranking   gdppc    pop2022           gdp
Country
Luxembourg                      1  118001    647.599  7.641733e+07
Singapore                       2   97057   5975.689  5.799824e+08
Ireland                         3   94392   5023.109  4.741413e+08
Qatar                           4   93508   2695.122  2.520155e+08
Switzerland                     5   72874   8740.472  6.369532e+08
...                           ...     ...        ...           ...
Malawi                        190     993  20405.317  2.026248e+07
Central African Republic      191     979   5579.144  5.461982e+06
Somalia                       192     925  17597.511  1.627770e+07
South Sudan                   193     791  10913.164  8.632313e+06
Burundi                       194     760  12889.576  9.796078e+06

[185 rows x 4 columns]

In [72]:
df_country = pd.DataFrame.from_dict(data=dic_countries, orient="index", columns=['SDG', 'DT', 'Inter'])

df_country.index.names = ['Country']
dic_countries_to_rename = {"Palestine": "Palestinian Territory",
                                   "Cote d'Ivoire": "Ivory Coast",
                                   "Congo [DRC]": "Democratic Republic of the Congo",
                                   "Congo, Dem.Rep.": "Democratic Republic of the Congo",
                                   "Eswatini": "Swaziland",
                                   "Guinea Bissau": "Guinea-Bissau",
                                   "Timor-Leste": "East Timor",
                                   }
df_country.rename(index=dic_countries_to_rename, inplace=True)
df_country

                               SDG           DT       Inter
Country
Sierra Leone              6.748179    80.728906    1.000000
Somalia                   1.985714    20.084786    0.666667
El Salvador               2.894444    32.369072    0.000000
Cape Verde                0.533333    24.454112    0.000000
São Tomé and Príncipe     0.000000     4.801569    0.000000
...                            ...          ...         ...
Saudi Arabia           6310.075840  5816.412652  381.358782
Palestinian Territory     3.616667   241.647418    5.746429
Ivory Coast              31.382757   242.738054    3.795635
Guinea-Bissau             0.000000    17.696378    0.142857
East Timor                1.000000    17.311742    0.500000

[222 rows x 3 columns]

In [62]:
# df_country = df_country.merge(gdppop, left_index=True, right_index=True)
# df_country

,SDG,DT,Inter,avg_pop,gdp
Albania,33.306126,249.054814,2.220635,2.875263e+06,3348.7
Algeria,2206.074170,1425.219143,94.420238,4.020870e+07,:
Argentina,1119.582110,4854.826979,40.743442,4.333679e+07,:
Armenia,51.328493,96.112800,4.187472,2.924618e+06,:
Australia,17903.566199,46270.843816,972.265841,2.400823e+07,324962.5
...,...,...,...,...,...
Turkey,12098.228238,15803.667151,503.252824,7.901677e+07,156571.8
Ukraine,1002.330534,2733.750840,69.576506,4.498976e+07,:
United Kingdom,30787.366532,61205.919539,1455.698402,6.524557e+07,609979.5
United States,114589.956220,193487.922934,4689.826355,3.213942e+08,4518929.3
Uruguay,127.558462,577.190327,10.795390,3.419979e+06,:

In [73]:
# df_country = df_country.replace(":", np.NAN).dropna(subset="gdp")
for country in eu:
    df_country.loc[country, :] = df_country.loc['EU', :]
df_country

                               SDG           DT       Inter
Country
Sierra Leone              6.748179    80.728906    1.000000
Somalia                   1.985714    20.084786    0.666667
El Salvador               2.894444    32.369072    0.000000
Cape Verde                0.533333    24.454112    0.000000
São Tomé and Príncipe     0.000000     4.801569    0.000000
...                            ...          ...         ...
Saudi Arabia           6310.075840  5816.412652  381.358782
Palestinian Territory     3.616667   241.647418    5.746429
Ivory Coast              31.382757   242.738054    3.795635
Guinea-Bissau             0.000000    17.696378    0.142857
East Timor                1.000000    17.311742    0.500000

[222 rows x 3 columns]

In [38]:
df_country.loc[:, 'SDG-pop'] = df_country.loc[:, 'SDG'] /  df_country.loc[:, 'avg_pop']
df_country.loc[:, 'DT-pop'] = df_country.loc[:, 'DT'] /  df_country.loc[:, 'avg_pop']
df_country.loc[:, 'Inter-pop'] = df_country.loc[:, 'Inter'] /  df_country.loc[:, 'avg_pop']

df_country.loc[:, 'SDG-gdp'] = df_country.loc[:, 'SDG']*1000000 /  df_country.loc[:, 'gdp']
df_country.loc[:, 'DT-gdp'] = df_country.loc[:, 'DT']*1000000 /  df_country.loc[:, 'gdp']
df_country.loc[:, 'Inter-gdp'] = df_country.loc[:, 'Inter']*1000000 /  df_country.loc[:, 'gdp']

df_country

,SDG,DT,Inter,avg_pop,gdp,SDG-pop,DT-pop,Inter-pop,SDG-gdp,DT-gdp,Inter-gdp
Albania,249.054814,33.306126,2.220635,2.875263e+06,3348.7,0.000087,0.000012,7.723241e-07,74373.581898,9945.986747,663.133431
Australia,46270.843816,17903.566199,972.265841,2.400823e+07,324962.5,0.001927,0.000746,4.049719e-05,142388.256539,55094.253025,2991.932427
Austria,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Belgium,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Bulgaria,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Bosnia and Herzegovina,301.542155,192.921516,11.016941,3.444391e+06,4367.5,0.000088,0.000056,3.198517e-06,69042.279386,44172.069984,2522.482288
Brazil,28702.406330,11180.177074,598.996919,2.051546e+08,326204.3,0.000140,0.000054,2.919734e-06,87989.049593,34273.542911,1836.263099
Canada,37206.120947,20252.774707,901.841444,3.607384e+07,377048.8,0.001031,0.000561,2.499987e-05,98677.202916,53713.934925,2391.842765
Switzerland,9866.141928,6293.906406,260.587459,8.295302e+06,159402.5,0.001189,0.000759,3.141386e-05,61894.524417,39484.364461,1634.776486
China,145199.568982,188528.693224,6755.196249,1.380822e+09,3176037.4,0.000105,0.000137,4.892157e-06,45717.210063,59359.720771,2126.925914
Cyprus,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Czech Republic,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Germany,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Denmark,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Spain,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Estonia,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
EU,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Finland,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
France,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
United Kingdom,61205.919539,30787.366532,1455.698402,6.524557e+07,609979.5,0.000938,0.000472,2.231107e-05,100340.945128,50472.788893,2386.471024
Greece,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Croatia,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Hungary,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Indonesia,5179.400095,1474.703744,103.247625,2.595923e+08,232425.4,0.000020,0.000006,3.977299e-07,22284.139748,6344.847611,444.218337
India,42596.348477,40505.248373,2079.156847,1.316051e+09,655346.0,0.000032,0.000031,1.579845e-06,64998.258137,61807.424434,3172.609349
Ireland,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Iceland,607.472156,137.479746,5.508138,3.392181e+05,4697.1,0.001791,0.000405,1.623775e-05,129329.193810,29269.069370,1172.667838
Israel,4938.700962,3375.864411,82.655454,8.477533e+06,91346.6,0.000583,0.000398,9.749942e-06,54065.514889,36956.650938,904.855289
Italy,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Japan,19448.498197,20909.259142,560.624257,1.270690e+08,1054733.6,0.000153,0.000165,4.411965e-06,18439.251577,19824.208826,531.531618
South Korea,19411.126348,32763.437206,1234.556650,5.094932e+07,359938.2,0.000381,0.000643,2.423107e-05,53929.053232,91025.173783,3429.912828
Lithuania,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Luxembourg,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Latvia,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Mexico,9240.066889,4598.298042,206.794799,1.224313e+08,254421.1,0.000075,0.000038,1.689069e-06,36318.005422,18073.571892,812.805223
Malta,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Montenegro,163.022021,56.759788,4.059259,6.213078e+05,879.9,0.000262,0.000091,6.533411e-06,185273.350383,64507.089920,4613.318854
Netherlands,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Norway,9549.820653,2617.168439,185.499124,5.185456e+06,91290.3,0.001842,0.000505,3.577296e-05,104609.368716,28668.636630,2031.969708
New Zealand,6847.822787,2227.965707,121.829811,4.694258e+06,51176.1,0.001459,0.000475,2.595294e-05,133809.000424,43535.277353,2380.599748
Philippines,1897.567943,308.676839,38.005112,1.027067e+08,74969.9,0.000018,0.000003,3.700355e-07,25311.064084,4117.343619,506.938274
Poland,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Portugal,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Romania,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Russia,8970.470299,5954.148935,207.745308,1.438065e+08,298558.4,0.000062,0.000041,1.444617e-06,30045.948463,19942.995859,695.828046
Singapore,4567.587687,6731.394222,262.056533,5.473158e+06,77537.4,0.000835,0.001230,4.788031e-05,58908.187360,86814.804494,3379.743618
Serbia,2592.544797,1808.553624,95.786523,7.072077e+06,11625.1,0.000367,0.000256,1.354433e-05,223012.687806,155573.167038,8239.629995
Slovakia,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Slovenia,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Sweden,255032.298970,149626.572842,6973.571454,4.445399e+08,3395193.7,0.000574,0.000337,1.568717e-05,75115.684554,44070.113832,2053.953933
Thailand,4712.398682,2131.558783,121.698647,6.873610e+07,111136.0,0.000069,0.000031,1.770520e-06,42402.090068,19179.732783,1095.042538
Turkey,15803.667151,12098.228238,503.252824,7.901677e+07,156571.8,0.000200,0.000153,6.368937e-06,100935.590896,77269.522599,3214.198369
United States,193487.922934,114589.956220,4689.826355,3.213942e+08,4518929.3,0.000602,0.000357,1.459213e-05,42817.205158,25357.766987,1037.818041
South Africa,14977.791130,2121.499928,216.299485,5.571583e+07,81269.2,0.000269,0.000038,3.882191e-06,184298.493531,26104.599631,2661.518565

In [74]:
# for cat in ['SDG', 'DT', 'Inter', 'SDG-pop', 'DT-pop','Inter-pop', 'SDG-gdp', 'DT-gdp', 'Inter-gdp']:
for cat in ['SDG', 'DT', 'Inter']:
    # tit = cat.replace("-pop", "").replace("-gdp", "")
    if 'pop' in cat:
        spec = "/pop*"
        annot= "*Normalised by population"
    elif "gdp" in cat:
        spec = "/gdp*"
        annot = "*Normalised by GDP (in M$)"
    else:
        spec = ""
        annot = ""
    tit = f"Nb pubs{spec}"

    layout = go.Layout(
        annotations=[
            dict(
                x=1,
                y=0.9,
                align="right",
                valign="top",
                text=tit,
                showarrow=False,
                xref="paper",
                yref="paper",
                xanchor="center",
                yanchor="top",
                font_size=22,
                ),
            dict(
                x=0.25,
                y=-.01,
                align="right",
                valign="top",
                text=annot,
                showarrow=False,
                xref="paper",
                yref="paper",
                xanchor="center",
                yanchor="top",
                font_size=30,
                ),
            ],
        )
    fig = go.Figure(
            data=go.Choropleth(
                locations=df_country.index,
                z=df_country[cat],
                text=df_country.index,
                locationmode="country names",
                colorscale='Blues',
                autocolorscale=False,
                colorbar=dict(
                    len=0.8,
                    y=0.45,
                    x= 0.95
                )
            ),
            layout=layout,
        )

    fig.update_layout(
        template='simple_white',
        font=dict(size=25),
        showlegend=True,

        geo=go.layout.Geo(
            scope="world",
            landcolor='lightgray',
            projection_scale=1,
            center=dict(lon=20, lat=30),
            projection_type="kavrayskiy7",

            showland=True,
            showcountries=False,
            showframe=False
        ),
        height=900,
        width=1400
    )

    fig.write_image(f"../img/Commission/maps/World/{cat}.jpg")
    # pio.write_image(fig, folder, format='png')

## Specialization

In [34]:
df_country_w_continent = pd.read_excel("../data/countries_w_continent.xlsx", sheet_name=0)
df_country_w_continent

,Unnamed: 0,Country,Country ISO3,Country Code,Long Name,Income Group,Lending Category,Region,Currency Unit,Other Groups,WTO Member,latitude,longitude
0,0,Afghanistan,AFG,4,Islamic State of Afghanistan,Low income,IDA,South Asia,Afghan afghani,HIPC,No,33.939110,67.709953
1,1,Albania,ALB,8,Republic of Albania,Upper middle income,IBRD,Europe & Central Asia,Albanian lek,NaN,Yes,41.153332,20.168331
2,2,Algeria,DZA,12,People's Democratic Republic of Algeria,Upper middle income,IBRD,Middle East & North Africa,Algerian dinar,NaN,No,28.033886,1.659626
3,3,American Samoa,ASM,16,American Samoa,Upper middle income,NaN,East Asia & Pacific,U.S. dollar,NaN,No,-14.270972,-170.132217
4,4,Andorra,AND,20,NaN,Others,NaN,Europe & Central Asia,NaN,NaN,No,42.546245,1.601554
...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,265,Venezuela,VEN,862,República Bolivariana de Venezuela,High income: nonOECD,IBRD,Latin America & Caribbean,Venezuelan bolivar fuerte,NaN,Yes,6.423750,-66.589730
223,266,Vietnam,VNM,704,Socialist Republic of Vietnam,Lower middle income,Blend,East Asia & Pacific,Vietnamese dong,NaN,Yes,14.058324,108.277199
224,270,Yemen,YEM,887,Republic of Yemen,Lower middle income,IDA,Middle East & North Africa,Yemeni rial,NaN,No,15.552727,48.516388
225,273,Zambia,ZMB,894,Republic of Zambia,Lower middle income,IDA,Sub-Saharan Africa,New Zambian kwacha,HIPC,Yes,-13.133897,27.849332
226,274,Zimbabwe,ZWE,716,Republic of Zimbabwe,Low income,Blend,Sub-Saharan Africa,U.S. dollar,NaN,Yes,-19.015438,29.154857

In [35]:
lst_sdg = ["SDG" + str(i) for i in range(1, 18)]
lst_cat = ["Environment", "Society", "Economy"]
lst_dt_shortened = ['AI', 'robotics', 'IOT']
lst_dt = ['AI', 'big_data', 'IOT', 'computing_infrastructure', 'blockchain', 'robotics',
          'additive_manufacturing']
lst_cat_dt = ['Environment-AI', 'Environment-robotics', 'Environment-IOT',
              'Society-AI', 'Society-robotics', 'Society-IOT',
              'Economy-AI', 'Economy-robotics', 'Economy-IOT']
df_sdg = pd.read_pickle("../data/dataframes/output/all_sdg_fixed_dst.pkl")
df_dt = pd.read_pickle("../data/dataframes/DT/dt_updated.pkl")

# Filtering for Journal only
df_sdg = df_sdg[df_sdg.PT == 'J']
df_dt = df_dt[df_dt.PT == 'J']
df_sdg_dt = df_sdg[df_sdg['DST']]

In [39]:
%%time
import itertools
from tqdm import tqdm
dic = {c:{elem:0 for elem in lst_sdg+lst_cat+lst_dt+lst_cat_dt} for c in set_countries}
dic_world = {elem:0 for elem in lst_sdg+lst_cat+lst_dt+lst_cat_dt}

# SDG dataframe
for row in tqdm(df_sdg.itertuples(index=False, name=None), total=df_sdg.shape[0]):
    lst_actors = row[idx_sdg['CN']].split(", ")
    size_actors = len(lst_actors)
    sdgs_in_pubs = []
    # Country count
    for sdg in lst_sdg:
        if row[idx_sdg[sdg]]:
            sdgs_in_pubs += sdg
            for actor in lst_actors:
                dic_world[sdg] += 1
                dic[actor][sdg] += 1
    for cat in lst_cat:
        if row[idx_sdg[cat]]:
            for actor in lst_actors:
                dic_world[cat] += 1
                dic[actor][cat] += 1


# DT dataframe
for row in tqdm(df_dt.itertuples(index=False, name=None), total=df_dt.shape[0]):
    lst_actors = row[idx_dt['CN']].split(", ")
    # Country count
    for dt in lst_dt:
        if row[idx_dt[dt]]:
            for actor in lst_actors:
                if actor in dic:
                    dic[actor][dt] += 1
                    dic_world[dt] += 1

# Intersection
for row in tqdm(df_sdg_dt.itertuples(index=False, name=None), total=df_sdg_dt.shape[0]):
    # Country count
    lst_actors = row[idx_sdg_dt['CN']].split(", ")
    for cat in lst_cat:
        if row[idx_sdg_dt[cat]]:
            for dt in lst_dt:
                if row[idx_sdg_dt[dt]]:
                    for actor in lst_actors:
                        if str(cat) + "-" + str(dt) in lst_cat_dt:
                            dic_world[str(cat) + "-" + str(dt)] += 1
                            dic[actor][str(cat) + "-" + str(dt)] += 1

100%|██████████| 1072858/1072858 [00:06<00:00, 158653.29it/s]
100%|██████████| 755468/755468 [00:02<00:00, 288830.90it/s]
100%|██████████| 33097/33097 [00:00<00:00, 138540.55it/s]

CPU times: user 9.67 s, sys: 7.8 ms, total: 9.67 s
Wall time: 9.66 s

In [33]:
"""
%%time
# Fractional version

import itertools
from tqdm import tqdm
dic = {c:{elem:0 for elem in lst_sdg+lst_cat+lst_dt+lst_cat_dt} for c in set_countries}
dic_world = {elem:0 for elem in lst_sdg+lst_cat+lst_dt+lst_cat_dt}

# SDG dataframe
for row in tqdm(df_sdg.itertuples(index=False, name=None), total=df_sdg.shape[0]):
    lst_actors = row[idx_sdg['CN']].split(", ")
    size_actors = len(lst_actors)
    sdgs_in_pub = []
    cats_in_pub = []
    # Country count
    for sdg in lst_sdg:
        if row[idx_sdg[sdg]]:
            sdgs_in_pub.append(sdg)
    for cat in lst_cat:
        if row[idx_sdg[cat]]:
            cats_in_pub.append(cat)
    tot_sdg_in_pub = len(sdgs_in_pub)
    tot_cat_in_pub = len(cats_in_pub)
    for sdg in sdgs_in_pub:
        dic_world[sdg] += 1/tot_sdg_in_pub
    for cat in cats_in_pub:
        dic_world[cat] += 1/tot_cat_in_pub

    for actor in lst_actors:
        for sdg in sdgs_in_pub:
            dic[actor][sdg] += 1/(size_actors*tot_sdg_in_pub)
        for cat in cats_in_pub:
            dic[actor][cat] += 1/(size_actors*tot_cat_in_pub)


# DT dataframe
for row in tqdm(df_dt.itertuples(index=False, name=None), total=df_dt.shape[0]):
    lst_actors = row[idx_dt['CN']].split(", ")
    tot_actors = len(lst_actors)
    dt_in_pub = []
    # Country count
    for dt in lst_dt:
        if row[idx_dt[dt]]:
            dt_in_pub.append(dt)
    tot_dt = len(dt_in_pub)
    for dt in dt_in_pub:
        dic_world[dt] += 1/tot_dt
    for actor in lst_actors:
        if actor in dic:
            for dt in dt_in_pub:
                dic[actor][dt] += 1/(tot_actors*tot_dt)


# Intersection
for row in tqdm(df_sdg_dt.itertuples(index=False, name=None), total=df_sdg_dt.shape[0]):
    # Country count
    lst_actors = row[idx_sdg_dt['CN']].split(", ")
    tot_actors = len(lst_actors)
    inter_in_pub = []
    for cat in lst_cat:
        if row[idx_sdg_dt[cat]]:
            for dt in lst_dt:
                if row[idx_sdg_dt[dt]]:
                    inter_in_pub.append(str(cat) + "-" + str(dt))
    tot_inter = len(inter_in_pub)
    for inter in inter_in_pub:
        if inter in dic_world:
            dic_world[inter] += 1/tot_inter

    for actor in lst_actors:
        for inter in inter_in_pub:
            if inter in lst_cat_dt:
                dic[actor][inter] += (1 / (tot_inter*tot_actors))
"""

100%|██████████| 1072858/1072858 [00:06<00:00, 157505.05it/s]
100%|██████████| 755468/755468 [00:02<00:00, 255830.72it/s]
100%|██████████| 33097/33097 [00:00<00:00, 163085.32it/s]

CPU times: user 10 s, sys: 6.83 ms, total: 10 s
Wall time: 10 s

In [40]:
df_spec_raw = pd.DataFrame.from_dict(data=dic, orient="index", columns=lst_sdg+lst_cat+lst_dt+lst_cat_dt)
df_spec_raw

,SDG1,SDG2,SDG3,SDG4,SDG5,SDG6,SDG7,SDG8,SDG9,SDG10,...,additive_manufacturing,Environment-AI,Environment-robotics,Environment-IOT,Society-AI,Society-robotics,Society-IOT,Economy-AI,Economy-robotics,Economy-IOT
Sierra Leone,27,5,454,12,22,30,15,9,6,5,...,12,0,6,0,0,0,0,0,0,0
Somalia,15,8,43,3,8,6,0,4,1,1,...,0,0,0,0,2,0,0,2,0,0
El Salvador,19,9,19,7,20,6,5,1,5,1,...,3,0,0,0,0,0,0,0,0,0
Cape Verde,1,0,16,10,12,6,4,2,2,6,...,0,0,0,0,0,0,0,0,0,0
São Tomé and Príncipe,0,2,0,2,7,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Croatia,114,141,1424,355,542,1165,465,250,177,308,...,355,95,44,14,120,17,21,10,3,13
Cambodia,126,152,228,37,92,92,35,23,37,35,...,4,8,1,0,2,0,0,0,0,0
Gabon,40,5,81,6,35,8,10,0,9,4,...,0,2,2,0,0,0,0,0,0,0
Turkey,715,992,11921,2309,1765,7413,2444,817,851,859,...,2381,394,79,28,661,92,152,142,12,19
Saudi Arabia,383,451,8632,845,1209,3919,1316,216,561,219,...,1083,260,66,80,743,76,341,94,14,70

In [41]:
df_spec_raw.loc['world', :] = df_spec_raw.sum(axis=0)
df_spec_raw

,SDG1,SDG2,SDG3,SDG4,SDG5,SDG6,SDG7,SDG8,SDG9,SDG10,...,additive_manufacturing,Environment-AI,Environment-robotics,Environment-IOT,Society-AI,Society-robotics,Society-IOT,Economy-AI,Economy-robotics,Economy-IOT
Sierra Leone,27.0,5.0,454.0,12.0,22.0,30.0,15.0,9.0,6.0,5.0,...,12.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Somalia,15.0,8.0,43.0,3.0,8.0,6.0,0.0,4.0,1.0,1.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0
El Salvador,19.0,9.0,19.0,7.0,20.0,6.0,5.0,1.0,5.0,1.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Cape Verde,1.0,0.0,16.0,10.0,12.0,6.0,4.0,2.0,2.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
São Tomé and Príncipe,0.0,2.0,0.0,2.0,7.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cambodia,126.0,152.0,228.0,37.0,92.0,92.0,35.0,23.0,37.0,35.0,...,4.0,8.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
Gabon,40.0,5.0,81.0,6.0,35.0,8.0,10.0,0.0,9.0,4.0,...,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Turkey,715.0,992.0,11921.0,2309.0,1765.0,7413.0,2444.0,817.0,851.0,859.0,...,2381.0,394.0,79.0,28.0,661.0,92.0,152.0,142.0,12.0,19.0
Saudi Arabia,383.0,451.0,8632.0,845.0,1209.0,3919.0,1316.0,216.0,561.0,219.0,...,1083.0,260.0,66.0,80.0,743.0,76.0,341.0,94.0,14.0,70.0
world,120625.0,89733.0,706438.0,190477.0,300975.0,598317.0,225075.0,72622.0,93317.0,74840.0,...,264913.0,37686.0,11815.0,6307.0,50369.0,10432.0,20237.0,10094.0,2394.0,4320.0

In [42]:
df_world = pd.DataFrame.from_dict(data=dic_world, orient="index", columns=['tot']).transpose()
df_world

,SDG1,SDG2,SDG3,SDG4,SDG5,SDG6,SDG7,SDG8,SDG9,SDG10,...,additive_manufacturing,Environment-AI,Environment-robotics,Environment-IOT,Society-AI,Society-robotics,Society-IOT,Economy-AI,Economy-robotics,Economy-IOT
tot,120625,89733,706438,190477,300975,598317,225075,72622,93317,74840,...,264913,37686,11815,6307,50369,10432,20237,10094,2394,4320

In [43]:
# Keeping only some relevant countries
all_pub_wos = pd.read_excel("../data/total_number_pubs_2010_2022.xlsx", index_col=0)
tot_pub_countries = all_pub_wos.loc['TOT', :]
index_countries = list(tot_pub_countries.index)[2:]
lst_eu = ["Austria", "Belgium", "Bulgaria", "Croatia", "Cyprus", "Czech Republic", "Denmark",
          "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Ireland", "Italy",
          "Latvia", "Lithuania", "Luxembourg", "Malta", "Netherlands", "Poland",
          "Portugal", "Romania" ,"Slovakia", "Slovenia", "Spain", "Sweden"]
lst_eu.sort()
rest = sorted(list(set(index_countries).difference(set(lst_eu))))
rest.remove('Liechtenstein')
rest

['Australia',
 'Canada',
 'China',
 'Iceland',
 'Israel',
 'Japan',
 'Norway',
 'South Korea',
 'Switzerland',
 'United Kingdom',
 'United States']

In [44]:
df_spec_raw_categories = df_spec_raw.loc[:, ['Environment', 'Society', 'Economy']]
df_spec_raw_categories.loc[:, 'tot'] = df_spec_raw_categories.sum(axis=1)

In [45]:
df_spec_raw_dt = df_spec_raw.loc[:, lst_dt]
df_spec_raw_dt.loc[:, 'tot'] = df_spec_raw_dt.sum(axis=1)
df_spec_raw_dt

,AI,big_data,IOT,computing_infrastructure,blockchain,robotics,additive_manufacturing,tot
Sierra Leone,25.0,2.0,0.0,0.0,0.0,13.0,12.0,52.0
Somalia,5.0,0.0,1.0,2.0,0.0,1.0,0.0,9.0
El Salvador,3.0,1.0,1.0,1.0,1.0,2.0,3.0,12.0
Cape Verde,0.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0
São Tomé and Príncipe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
Cambodia,33.0,5.0,35.0,1.0,1.0,7.0,4.0,86.0
Gabon,24.0,1.0,0.0,0.0,0.0,6.0,0.0,31.0
Turkey,24961.0,1070.0,3607.0,2428.0,350.0,6959.0,2381.0,41756.0
Saudi Arabia,14995.0,1954.0,6382.0,4002.0,744.0,2376.0,1083.0,31536.0
world,2019381.0,228113.0,501330.0,320170.0,34501.0,575782.0,264913.0,3944190.0

In [46]:
df_spec_raw_sdg = df_spec_raw.loc[:, lst_sdg]
df_spec_raw_sdg.loc[:, 'tot'] = df_spec_raw_sdg.sum(axis=1)
df_spec_raw_sdg

,SDG1,SDG2,SDG3,SDG4,SDG5,SDG6,SDG7,SDG8,SDG9,SDG10,SDG11,SDG12,SDG13,SDG14,SDG15,SDG16,SDG17,tot
Sierra Leone,27.0,5.0,454.0,12.0,22.0,30.0,15.0,9.0,6.0,5.0,30.0,15.0,50.0,15.0,48.0,35.0,40.0,818.0
Somalia,15.0,8.0,43.0,3.0,8.0,6.0,0.0,4.0,1.0,1.0,7.0,5.0,17.0,3.0,11.0,11.0,9.0,152.0
El Salvador,19.0,9.0,19.0,7.0,20.0,6.0,5.0,1.0,5.0,1.0,9.0,3.0,41.0,59.0,15.0,16.0,14.0,249.0
Cape Verde,1.0,0.0,16.0,10.0,12.0,6.0,4.0,2.0,2.0,6.0,4.0,11.0,45.0,83.0,23.0,15.0,11.0,251.0
São Tomé and Príncipe,0.0,2.0,0.0,2.0,7.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,25.0,6.0,0.0,1.0,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cambodia,126.0,152.0,228.0,37.0,92.0,92.0,35.0,23.0,37.0,35.0,58.0,74.0,264.0,80.0,175.0,95.0,170.0,1773.0
Gabon,40.0,5.0,81.0,6.0,35.0,8.0,10.0,0.0,9.0,4.0,24.0,9.0,137.0,169.0,66.0,1.0,14.0,618.0
Turkey,715.0,992.0,11921.0,2309.0,1765.0,7413.0,2444.0,817.0,851.0,859.0,3144.0,3680.0,8469.0,8697.0,3013.0,1632.0,1355.0,60076.0
Saudi Arabia,383.0,451.0,8632.0,845.0,1209.0,3919.0,1316.0,216.0,561.0,219.0,1171.0,1956.0,4447.0,4729.0,1445.0,624.0,606.0,32729.0
world,120625.0,89733.0,706438.0,190477.0,300975.0,598317.0,225075.0,72622.0,93317.0,74840.0,249844.0,361954.0,1407574.0,850851.0,400782.0,197571.0,173078.0,6114073.0

In [47]:
df_spec_raw_sdg_dt = df_spec_raw.loc[:, lst_cat_dt]
df_spec_raw_sdg_dt.loc[:, 'tot'] = df_spec_raw_sdg_dt.sum(axis=1)
df_spec_raw_sdg_dt

,Environment-AI,Environment-robotics,Environment-IOT,Society-AI,Society-robotics,Society-IOT,Economy-AI,Economy-robotics,Economy-IOT,tot
Sierra Leone,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
Somalia,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,4.0
El Salvador,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Cape Verde,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
São Tomé and Príncipe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
Cambodia,8.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,11.0
Gabon,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
Turkey,394.0,79.0,28.0,661.0,92.0,152.0,142.0,12.0,19.0,1579.0
Saudi Arabia,260.0,66.0,80.0,743.0,76.0,341.0,94.0,14.0,70.0,1744.0
world,37686.0,11815.0,6307.0,50369.0,10432.0,20237.0,10094.0,2394.0,4320.0,153654.0

In [48]:
lst_df_spec = []
for df_spec_raw in [df_spec_raw_categories,df_spec_raw_sdg, df_spec_raw_dt, df_spec_raw_sdg_dt]:
    df_spec = df_spec_raw.copy().iloc[:-1, :-1].loc[lst_eu+rest, :]
    for cat in df_spec.columns:
        for country in df_spec.index:
            df_spec.loc[country,cat] = (df_spec_raw.loc[country,cat] / df_spec_raw.loc[country, 'tot']) / (df_spec_raw.loc["world", cat] / df_spec_raw.loc['world', 'tot'])
    lst_df_spec.append(df_spec)

In [49]:
with pd.ExcelWriter('output.xlsx') as writer:
     for i, df in enumerate(lst_df_spec):
        df.to_excel(writer, sheet_name=f'Sheet{i+1}')

## New Specialization graphs

In [50]:
def transform_discrete_value(value):
    if value < 0.75:
        return "Under-specialized (RTA < 0.75)"
    elif 0.75 <= value <= 1.25:
        return "Not-specialized (0.75 <= RTA <= 1.25)"
    elif value > 1.25:
        return "Specialized (RTA > 1.25)"
    else:
        return "error"

In [51]:
def reorder_values(dataframe, col):
    """

    Args:
        dataframe:
        col:

    Returns:
        The dataframe reordered so that Specialized is on top, Not specialized in the middle, and under specialized is
        at the bottom of the legend
    """
    lst_index = list(dataframe.index)

    bottom_index = dataframe.loc[dataframe[col] == "Under-specialized (RTA < 0.75)"].index
    middle_index = dataframe.loc[dataframe[col] == "Not-specialized (0.75 <= RTA <= 1.25)"].index
    top_index = dataframe.loc[dataframe[col] == "Specialized (RTA > 1.25)"].index

    new_order = [top_index, middle_index, bottom_index]
    new_order_single_elem = []
    for elem in new_order:
        if len(elem) > 0:
            new_order_single_elem.append(elem[0])
            lst_index.remove(elem[0])

    return new_order_single_elem + lst_index



### CATGORIES SPEC GRAPHS

In [52]:
import plotly.express as px
# df_spec_cat = pd.read_excel("../img/Commission/spec_fractional.xlsx", sheet_name="cat", index_col=0)
df_spec_cat = pd.read_excel("../img/Commission/spec.xlsx", sheet_name="categories", index_col=0)
df_spec_cat = df_spec_cat.loc[lst_eu, :]
df_spec_cat = df_spec_cat.apply(np.vectorize(transform_discrete_value))


for cat in lst_cat:
    ordered_index = reorder_values(df_spec_cat, cat)
    fig = px.choropleth(
        # locations=df_spec_cat.loc[lst_eu, :].index,
        locations=ordered_index,
        color=df_spec_cat.loc[ordered_index, cat],
        color_discrete_map={"Under-specialized (RTA < 0.75)":"#2ECBE9", "Not-specialized (0.75 <= RTA <= 1.25)":"#128FC8", "Specialized (RTA > 1.25)":"#00468B"},
        locationmode="country names",
    )

    fig.update_layout(
        template='simple_white',
        font=dict(size=18),
        showlegend=True,
        legend=dict
            (
            title="Specialization",
            yanchor="top",
            y=1,
            xanchor="left",
            x=0.048,
            bordercolor="Black",
            borderwidth=2
            ),
        geo=go.layout.Geo(
            scope="world",
            landcolor='lightgray',
            projection_scale=float(6.1),
            center=dict(lon=15, lat=52),
            projection_type="azimuthal equal area",
            showland=True,
            showcountries=False,
        ),
        height=1080,
        width=1200


    )
    fig.write_image(f"../img/Commission/maps/specialization/full_count/{cat}.jpg")
    # pio.write_image(fig, folder, format='png')

### DT SPEC GRAPSH

In [53]:
import plotly.express as px
# df_spec_dt =pd.read_excel("../img/Commission/spec_fractional.xlsx", sheet_name="dt", index_col=0)
df_spec_dt = pd.read_excel("../img/Commission/spec.xlsx", sheet_name="DT", index_col=0)
df_spec_dt = df_spec_dt.loc[lst_eu, :]
df_spec_dt = df_spec_dt.apply(np.vectorize(transform_discrete_value))
for dt in ['AI', 'IOT', 'robotics']:
    ordered_index = reorder_values(df_spec_dt, dt)
    fig = px.choropleth(
        locations=ordered_index,
        color=df_spec_dt.loc[ordered_index, dt],
        color_discrete_map={"Under-specialized (RTA < 0.75)":"#2ECBE9", "Not-specialized (0.75 <= RTA <= 1.25)":"#128FC8", "Specialized (RTA > 1.25)":"#00468B"},
        locationmode="country names",
    )

    fig.update_layout(
        template='simple_white',
        font=dict(size=18),
        showlegend=True,

        legend=dict
            (
            title="Specialization",
            yanchor="top",
            y=1,
            xanchor="left",
            x=0.048,
            bordercolor="Black",
            borderwidth=2
            ),
        geo=go.layout.Geo(
            scope="world",
            landcolor='lightgray',
            projection_scale=float(6.1),
            center=dict(lon=15, lat=52),
            projection_type="azimuthal equal area",
            showland=True,
            showcountries=False,
        ),
        height=1080,
        width=1200


    )
    fig.write_image(f"../img/Commission/maps/specialization/full_count//{dt}.jpg")
    # pio.write_image(fig, folder, format='png')

## CAT DT SPEC GRAPHS

In [54]:
import plotly.express as px
# df_spec_cat_dt = pd.read_excel("../img/Commission/spec_fractional.xlsx", sheet_name="cat-dt", index_col=0)
df_spec_cat_dt = pd.read_excel("../img/Commission/spec.xlsx", sheet_name="SDG-DT", index_col=0)
df_spec_cat_dt = df_spec_cat_dt.fillna(0)
df_spec_cat_dt = df_spec_cat_dt.loc[lst_eu, :]
df_spec_cat_dt = df_spec_cat_dt.apply(np.vectorize(transform_discrete_value))

for dt in df_spec_cat_dt.columns:
    ordered_index = reorder_values(df_spec_cat_dt, dt)
    fig = px.choropleth(
        locations=ordered_index,
        color=df_spec_cat_dt.loc[ordered_index, dt],
        color_discrete_map={"Under-specialized (RTA < 0.75)":"#2ECBE9", "Not-specialized (0.75 <= RTA <= 1.25)":"#128FC8", "Specialized (RTA > 1.25)":"#00468B"},
        locationmode="country names",
    )

    fig.update_layout(
        template='simple_white',
        font=dict(size=18),
        showlegend=True,

        legend=dict
            (
            title="Specialization",
            yanchor="top",
            y=1,
            xanchor="left",
            x=0.048,
            bordercolor="Black",
            borderwidth=2
            ),
        geo=go.layout.Geo(
            scope="world",
            landcolor='lightgray',
            projection_scale=float(6.1),
            center=dict(lon=15, lat=52),
            projection_type="azimuthal equal area",
            showland=True,
            showcountries=False,
        ),
        height=1080,
        width=1200


    )
    fig.write_image(f"../img/Commission/maps/specialization/full_count/{dt}.jpg")
    # pio.write_image(fig, folder, format='png')

## SDG SPEC GRAPHS

In [55]:
import plotly.express as px
# df_spec_sdg = pd.read_excel("../img/Commission/spec_fractional.xlsx", sheet_name="sdg", index_col=0)
df_spec_sdg = pd.read_excel("../img/Commission/spec.xlsx", sheet_name="SDG", index_col=0)
df_spec_sdg = df_spec_sdg.fillna(0)
df_spec_sdg = df_spec_sdg.loc[lst_eu, :]
df_spec_sdg = df_spec_sdg.apply(np.vectorize(transform_discrete_value))

for sdg in lst_sdg:
    ordered_index = reorder_values(df_spec_sdg, sdg)
    fig = px.choropleth(
        locations=ordered_index,
        color=df_spec_sdg.loc[ordered_index, sdg],
        color_discrete_map={"Under-specialized (RTA < 0.75)":"#2ECBE9", "Not-specialized (0.75 <= RTA <= 1.25)":"#128FC8", "Specialized (RTA > 1.25)":"#00468B"},
        locationmode="country names",
    )

    fig.update_layout(
        template='simple_white',
        font=dict(size=18),
        showlegend=True,

        legend=dict
            (
            title="Specialization",
            yanchor="top",
            y=1,
            xanchor="left",
            x=0.048,
            bordercolor="Black",
            borderwidth=2
            ),
        geo=go.layout.Geo(
            scope="world",
            landcolor='lightgray',
            projection_scale=float(6.1),
            center=dict(lon=15, lat=52),
            projection_type="azimuthal equal area",
            showland=True,
            showcountries=False,
        ),
        height=1080,
        width=1200


    )
    fig.write_image(f"../img/Commission/maps/specialization/full_count/SDG/{sdg}.jpg")
    # pio.write_image(fig, folder, format='png')