# raw, strength and specialization

In [1]:
from typing import Set, Any

import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.collections import PatchCollection
import plotly.graph_objects as go

from plotly.subplots import make_subplots
import plotly

In [2]:
df_sdg = pd.read_pickle("../data/dataframes/all_sdg_fixed_dst.pkl")
df_digital = pd.read_pickle("../data/dataframes/dt_updated.pkl")
eu = pd.read_excel("../data/countries_eu.xlsx", sheet_name='EU')['Country'].to_list()
# Filtering for Journal only
df_sdg = df_sdg[df_sdg.PT == 'J']
df_digital = df_digital[df_digital.PT == 'J']
df_sdg_dt = df_sdg[df_sdg['DST']]

idx_sdg = {name: i for i, name in enumerate(list(df_sdg), start=0)}
idx_dt = {name: i for i, name in enumerate(list(df_digital), start=0)}
idx_sdg_dt = {name: i for i, name in enumerate(list(df_sdg_dt), start=0)}

In [3]:
gdp = pd.read_excel("../data/pop-gdp.xlsx", sheet_name="GDP", index_col="TIME").rename(columns={"2020-Q2":"GDP"}).loc[:, "GDP"].rename_axis("Country", axis=0)
gdp

Country
NaN                                                NaN
EU                                           3092983.9
European Union - 28 countries (2013-2020)            :
Euro area - 19 countries  (from 2015)        2631060.9
Belgium                                         105644
                                               ...
Palestine                                            :
Saudi Arabia                                         :
Australia                                     280349.7
New Zealand                                      40983
Samoa                                                :
Name: GDP, Length: 102, dtype: object

In [4]:
eu_countries = pd.read_excel("../data/countries_eu.xlsx", sheet_name='EU').Country.to_list()
other_countries = pd.read_excel("../data/countries_eu.xlsx", sheet_name='rest').Country.to_list()

gdppop = pd.read_excel("../data/gdp_avgpop.xlsx", index_col=0).replace(":", np.NAN).fillna(0)
gdppop

                    avg_pop        gdp
Albania        2.875263e+06     3348.7
Argentina      4.333679e+07        0.0
Armenia        2.924618e+06        0.0
Australia      2.400823e+07   324962.5
Austria        8.665144e+06    92140.6
...                     ...        ...
Ukraine        4.498976e+07        0.0
Uruguay        3.419979e+06        0.0
United States  3.213942e+08  4518929.3
Samoa          1.933848e+05        0.0
South Africa   5.571583e+07    81269.2

[94 rows x 2 columns]

In [5]:
other_countries

['Norway',
 'Switzerland',
 'United Kingdom',
 'Canada',
 'China',
 'United States',
 'Japan',
 'South Korea',
 'Australia',
 'Israel']

## Counter + loop ==> Overall number of fractional publications for countries

In [5]:
from collections import Counter
dic_countries_frac = {country:Counter() for country in gdppop.index}
# Digital
for row in df_digital.itertuples(index=False, name=None):
    cn = row[idx_dt['CN']]
    lst_actors = cn.split(", ")
    size_actors = len(lst_actors)
    for actor in lst_actors:
        if actor in dic_countries_frac.keys():
            # Increment for digital
            dic_countries_frac[actor]['DT'] += 1/size_actors

            if actor in eu:
                dic_countries_frac['EU']['DT'] += 1/size_actors

# SDG & SDG-DT
for row in df_sdg.itertuples(index=False, name=None):
    cn = row[idx_sdg['CN']]
    lst_actors = cn.split(", ")
    size_actors = len(lst_actors)
    for actor in lst_actors:
        if actor in dic_countries_frac.keys():
            # Increment for SDG
            dic_countries_frac[actor]['SDG'] += 1/size_actors

            if actor in eu:
                dic_countries_frac['EU']['SDG'] += 1/size_actors

            if row[-1]:
                # Increment for SDG-DT
                dic_countries_frac[actor]['Inter'] += 1/size_actors

                if actor in eu:
                    dic_countries_frac['EU']['Inter'] += 1/size_actors

In [10]:

df_country = pd.DataFrame.from_dict(data=dic_countries_frac, orient="index")
df_country_eu = df_country.loc[eu, :]

df_country_eu.index.names = ['Country']

df_country_eu = df_country_eu.merge(gdppop, left_index=True, right_index=True)
df_country_eu.loc[:, 'SDG-pop'] = df_country_eu.loc[:, 'SDG'] /  df_country_eu.loc[:, 'avg_pop']
df_country_eu.loc[:, 'DT-pop'] = df_country_eu.loc[:, 'DT'] /  df_country_eu.loc[:, 'avg_pop']
df_country_eu.loc[:, 'Inter-pop'] = df_country_eu.loc[:, 'Inter'] /  df_country_eu.loc[:, 'avg_pop']

df_country_eu.loc[:, 'SDG-gdp'] = df_country_eu.loc[:, 'SDG'] /  df_country_eu.loc[:, 'gdp']
df_country_eu.loc[:, 'DT-gdp'] = df_country_eu.loc[:, 'DT'] /  df_country_eu.loc[:, 'gdp']
df_country_eu.loc[:, 'Inter-gdp'] = df_country_eu.loc[:, 'Inter'] /  df_country_eu.loc[:, 'gdp']
#
df_country_eu

,DT,SDG,Inter,GDP,SDG-gdp,DT-gdp,Inter-gdp
Country,,,,,,,
Austria,3236.053303,5372.635315,138.258313,88533.8,0.060685,0.036552,0.001562
Belgium,4779.746296,8371.507113,181.901241,105644,0.079243,0.045244,0.001722
Bulgaria,549.483471,1009.169897,24.554932,14307.8,0.070533,0.038404,0.001716
Croatia,1225.321102,2621.667351,78.026927,11693.6,0.224197,0.104786,0.006673
Cyprus,541.687904,851.738882,41.854211,5072.6,0.16791,0.106787,0.008251
Czech Republic,2647.521995,4618.636023,107.792072,49912.6,0.092534,0.053043,0.00216
Denmark,3078.092221,7977.961969,143.020285,74993.5,0.106382,0.041045,0.001907
Estonia,438.769553,1238.384147,31.906383,6468.1,0.19146,0.067836,0.004933
Finland,3615.406532,7719.220726,200.267440,57716,0.133745,0.062641,0.00347
France,15853.700722,23290.960538,551.407769,524427.4,0.044412,0.03023,0.001051
Germany,24569.802808,36083.595931,941.987972,787350,0.045829,0.031206,0.001196
Greece,5160.642990,7298.045071,311.481502,37885,0.192637,0.136219,0.008222
Hungary,1670.516461,2767.537751,85.481166,31231.4,0.088614,0.053488,0.002737
Ireland,2429.286519,4481.205904,122.954903,84665.3,0.052928,0.028693,0.001452
Italy,24648.310547,37292.169893,1219.920814,374747.8,0.099513,0.065773,0.003255
Latvia,217.616616,582.122971,10.760751,7148.9,0.081428,0.030441,0.001505
Lithuania,788.154774,1752.292576,40.237259,11825.5,0.148179,0.066649,0.003403
Luxembourg,339.384507,457.427076,23.212576,15398.9,0.029705,0.02204,0.001507
Malta,96.151579,256.117513,2.943655,3050.2,0.083967,0.031523,0.000965
Netherlands,8149.341042,17333.784583,330.855868,192370,0.090106,0.042363,0.00172
Poland,7936.649903,13146.977740,349.013199,117496.6,0.111892,0.067548,0.00297
Portugal,4985.216536,11419.517093,295.291351,45634.6,0.250238,0.109242,0.006471
Romania,3257.436330,5698.929843,211.371191,46874.4,0.121579,0.069493,0.004509
Slovakia,1092.612611,1733.551491,41.527329,21845.9,0.079354,0.050015,0.001901
Slovenia,1550.891690,1862.611074,60.474226,11033.9,0.168808,0.140557,0.005481
Spain,21779.103279,35876.370198,1183.567861,250201,0.14339,0.087046,0.00473
Sweden,4989.671550,13918.160300,243.500257,115359.3,0.120651,0.043253,0.002111

In [11]:
df_country_eu_other= df_country.loc[eu+other_countries, :]
df_country_eu_other.index.names = ['Country']
df_country_eu_other = df_country_eu_other.merge(gdp, left_index=True, right_index=True)

df_country_eu_other.loc[:, 'SDG-gdp'] = df_country_eu_other.loc[:, 'SDG'] /  df_country_eu_other.loc[:, 'GDP']
df_country_eu_other.loc[:, 'DT-gdp'] = df_country_eu_other.loc[:, 'DT'] /  df_country_eu_other.loc[:, 'GDP']
df_country_eu_other.loc[:, 'Inter-gdp'] = df_country_eu_other.loc[:, 'Inter'] /  df_country_eu_other.loc[:, 'GDP']
#
df_country_eu_other

,DT,SDG,Inter,GDP,SDG-gdp,DT-gdp,Inter-gdp
Country,,,,,,,
Austria,3236.053303,5372.635315,138.258313,88533.8,0.060685,0.036552,0.001562
Belgium,4779.746296,8371.507113,181.901241,105644,0.079243,0.045244,0.001722
Bulgaria,549.483471,1009.169897,24.554932,14307.8,0.070533,0.038404,0.001716
Croatia,1225.321102,2621.667351,78.026927,11693.6,0.224197,0.104786,0.006673
Cyprus,541.687904,851.738882,41.854211,5072.6,0.16791,0.106787,0.008251
Czech Republic,2647.521995,4618.636023,107.792072,49912.6,0.092534,0.053043,0.00216
Denmark,3078.092221,7977.961969,143.020285,74993.5,0.106382,0.041045,0.001907
Estonia,438.769553,1238.384147,31.906383,6468.1,0.19146,0.067836,0.004933
Finland,3615.406532,7719.220726,200.267440,57716,0.133745,0.062641,0.00347
France,15853.700722,23290.960538,551.407769,524427.4,0.044412,0.03023,0.001051
Germany,24569.802808,36083.595931,941.987972,787350,0.045829,0.031206,0.001196
Greece,5160.642990,7298.045071,311.481502,37885,0.192637,0.136219,0.008222
Hungary,1670.516461,2767.537751,85.481166,31231.4,0.088614,0.053488,0.002737
Ireland,2429.286519,4481.205904,122.954903,84665.3,0.052928,0.028693,0.001452
Italy,24648.310547,37292.169893,1219.920814,374747.8,0.099513,0.065773,0.003255
Latvia,217.616616,582.122971,10.760751,7148.9,0.081428,0.030441,0.001505
Lithuania,788.154774,1752.292576,40.237259,11825.5,0.148179,0.066649,0.003403
Luxembourg,339.384507,457.427076,23.212576,15398.9,0.029705,0.02204,0.001507
Malta,96.151579,256.117513,2.943655,3050.2,0.083967,0.031523,0.000965
Netherlands,8149.341042,17333.784583,330.855868,192370,0.090106,0.042363,0.00172
Poland,7936.649903,13146.977740,349.013199,117496.6,0.111892,0.067548,0.00297
Portugal,4985.216536,11419.517093,295.291351,45634.6,0.250238,0.109242,0.006471
Romania,3257.436330,5698.929843,211.371191,46874.4,0.121579,0.069493,0.004509
Slovakia,1092.612611,1733.551491,41.527329,21845.9,0.079354,0.050015,0.001901
Slovenia,1550.891690,1862.611074,60.474226,11033.9,0.168808,0.140557,0.005481
Spain,21779.103279,35876.370198,1183.567861,250201,0.14339,0.087046,0.00473
Sweden,4989.671550,13918.160300,243.500257,115359.3,0.120651,0.043253,0.002111
Norway,2617.168439,9549.820653,185.499124,73129.3,0.130588,0.035788,0.002537
Switzerland,6293.906406,9866.141928,260.587459,155236.9,0.063555,0.040544,0.001679
United Kingdom,30787.366532,61205.919539,1455.698402,535051.4,0.114393,0.057541,0.002721
Canada,20252.774707,37206.120947,901.841444,321891.4,0.115586,0.062918,0.002802
China,188528.693224,145199.568982,6755.196249,3180682.6,0.04565,0.059273,0.002124
United States,114589.956220,193487.922934,4689.826355,4476300.2,0.043225,0.025599,0.001048
Japan,20909.259142,19448.498197,560.624257,1065176.9,0.018258,0.01963,0.000526
South Korea,32763.437206,19411.126348,1234.556650,354360.1,0.054778,0.092458,0.003484
Australia,17903.566199,46270.843816,972.265841,280349.7,0.165047,0.063862,0.003468
Israel,3375.864411,4938.700962,82.655454,85220,0.057952,0.039614,0.00097

In [24]:
df_country_eu.columns

Index(['DT', 'SDG', 'Inter', 'avg_pop', 'gdp', 'SDG-pop', 'DT-pop',
       'Inter-pop', 'SDG-gdp', 'DT-gdp', 'Inter-gdp'],
      dtype='object')

In [25]:
for cat in ['SDG', 'DT', 'Inter', 'SDG-pop', 'DT-pop','Inter-pop', 'SDG-gdp', 'DT-gdp', 'Inter-gdp']:
    tit = cat.replace("-pop", "").replace("-gdp", "")
    print(tit)

SDG
DT
Inter
SDG
DT
Inter
SDG
DT
Inter

## Maps for EU

In [25]:
for cat in ['SDG', 'DT', 'Inter', 'SDG-pop', 'DT-pop','Inter-pop', 'SDG-gdp', 'DT-gdp', 'Inter-gdp']:
    # tit = cat.replace("-pop", "").replace("-gdp", "")
    if 'pop' in cat:
        spec = "/pop*"
        annot= "*Normalised by population"
    elif "gdp" in cat:
        spec = "/gdp*"
        annot = "*Normalised by GDP (in M€)"
    else:
        spec = ""
        annot = ""
    tit = f"Nb pubs{spec}"
    layout = go.Layout(
        annotations=[
            dict(
                x=1.05,
                y=1,
                align="right",
                valign="top",
                text=tit,
                showarrow=False,
                xref="paper",
                yref="paper",
                xanchor="center",
                yanchor="top",
                font_size=22,
                ),
            dict(
                x=0.25,
                y=-.01,
                align="right",
                valign="top",
                text=annot,
                showarrow=False,
                xref="paper",
                yref="paper",
                xanchor="center",
                yanchor="top",
                font_size=30,
                ),
            ],
        )
    fig = go.Figure(
            data=go.Choropleth(
                locations=df_country_eu.index,
                z=df_country_eu[cat],
                text=df_country_eu.index,
                locationmode="country names",
                colorscale='Blues',
                autocolorscale=False,
                colorbar=dict(
                    len=0.9,
                    y=0.5
                )
            ),
            layout=layout,
        )

    fig.update_layout(
        template='simple_white',
        font=dict(size=30),
        showlegend=True,
        geo=go.layout.Geo(
            scope="world",
            landcolor='lightgray',
            projection_scale=float(6.1),
            center=dict(lon=15, lat=52),
            projection_type="azimuthal equal area",
            showland=True,
            showcountries=False,
            showframe=False
        ),
        height=1080,
        width=1200

    )
    fig.write_image(f"../img/Commission/maps/EU_{cat}.jpg")
    # pio.write_image(fig, folder, format='png')

## Same on WORLD

In [8]:
%%time
set_countries = set()
for row in df_sdg.itertuples(index=False, name=None):
    cn = row[12]
    lst_actors = cn.split(", ")
    for actor in lst_actors:
        set_countries.add(actor)

CPU times: user 3.32 s, sys: 0 ns, total: 3.32 s
Wall time: 3.32 s

In [9]:
len(set_countries)

217

In [28]:
# Digital

dic_countries = {country: [0, 0, 0]  for country in set_countries}

for row in df_digital.itertuples(index=False, name=None):
    lst_actors = row[idx_dt['CN']].split(", ")
    year = row[idx_dt['PY']]
    size_actors = len(lst_actors)
    for actor in lst_actors:
        # Increment for digital
        if actor in dic_countries:
            dic_countries[actor][0] += 1 / size_actors
            if actor in eu_countries:
                dic_countries['EU'][0] += 1 / size_actors

# SDG & SDG-DT
for row in df_sdg.itertuples(index=False, name=None):
    lst_actors = row[idx_sdg['CN']].split(", ")
    year = row[idx_sdg['PY']]
    size_actors = len(lst_actors)
    for actor in lst_actors:
        if actor in dic_countries:
            # Increment for SDG
            dic_countries[actor][1] += 1 / size_actors
            if actor in eu_countries:
                dic_countries['EU'][1] += 1 / size_actors
            if row[-1]:
                # Increment for SDG-DT
                dic_countries[actor][2] += 1 / size_actors
                if actor in eu_countries:
                    dic_countries['EU'][2] += 1 / size_actors

In [29]:
len(dic_countries)

218

In [30]:
dic_countries_to_rename = {"Palestine": "Palestinian Territory",
                                   "Cote d'Ivoire": "Ivory Coast",
                                   "Congo[DRC]": "Democratic Republic of the Congo",
                                   "Congo, Dem.Rep.": "Democratic Republic of the Congo",
                                   "Eswatini": "Swaziland",
                                   "Guinea Bissau": "Guinea-Bissau",
                                   "Timor-Leste": "East Timor",
                                   }
for country in dic_countries.copy():
    if country in dic_countries_to_rename:
        dic_countries[dic_countries_to_rename[country]] = dic_countries[country]

In [39]:
df_country = pd.DataFrame.from_dict(data=dic_countries, orient="index", columns=['SDG', 'DT', 'Inter'])

df_country.index.names = ['Country']
dic_countries_to_rename = {"Palestine": "Palestinian Territory",
                                   "Cote d'Ivoire": "Ivory Coast",
                                   "Congo [DRC]": "Democratic Republic of the Congo",
                                   "Congo, Dem.Rep.": "Democratic Republic of the Congo",
                                   "Eswatini": "Swaziland",
                                   "Guinea Bissau": "Guinea-Bissau",
                                   "Timor-Leste": "East Timor",
                                   }
df_country.rename(index=dic_countries_to_rename, inplace=True)
df_country

                                 SDG             DT        Inter
Country
United States          114589.956220  193487.922934  4689.826355
Czech Republic           2647.521995    4618.636023   107.792072
Kiribati                    0.000000       6.486967     0.000000
Seychelles                  0.055556      55.977470     0.055556
Swaziland                   0.000000      32.625238     1.857143
...                              ...            ...          ...
Finland                  3615.406532    7719.220726   200.267440
East Timor                  1.000000      17.311742     0.500000
Ivory Coast                31.382757     242.738054     3.795635
Guinea-Bissau               0.000000      17.696378     0.142857
Palestinian Territory       3.616667     241.647418     5.746429

[222 rows x 3 columns]

In [40]:
df_country = df_country.merge(gdppop, left_index=True, right_index=True)
df_country

,SDG,DT,Inter,avg_pop,gdp
Albania,33.306126,249.054814,2.220635,2.875263e+06,3348.7
Algeria,2206.074170,1425.219143,94.420238,4.020870e+07,0.0
Argentina,1119.582110,4854.826979,40.743442,4.333679e+07,0.0
Armenia,51.328493,96.112800,4.187472,2.924618e+06,0.0
Australia,17903.566199,46270.843816,972.265841,2.400823e+07,324962.5
...,...,...,...,...,...
Turkey,12098.228238,15803.667151,503.252824,7.901677e+07,156571.8
Ukraine,1002.330534,2733.750840,69.576506,4.498976e+07,0.0
United Kingdom,30787.366532,61205.919539,1455.698402,6.524557e+07,609979.5
United States,114589.956220,193487.922934,4689.826355,3.213942e+08,4518929.3
Uruguay,127.558462,577.190327,10.795390,3.419979e+06,0.0

In [38]:
# df_country = df_country.replace(":", np.NAN).dropna(subset="gdp")
# for country in eu:
#     df_country.loc[country, :] = df_country.loc['EU', :]
# df_country

,SDG,DT,Inter,avg_pop,gdp
Albania,33.306126,249.054814,2.220635,2.875263e+06,3348.7
Algeria,2206.074170,1425.219143,94.420238,4.020870e+07,0.0
Argentina,1119.582110,4854.826979,40.743442,4.333679e+07,0.0
Armenia,51.328493,96.112800,4.187472,2.924618e+06,0.0
Australia,17903.566199,46270.843816,972.265841,2.400823e+07,324962.5
...,...,...,...,...,...
Turkey,12098.228238,15803.667151,503.252824,7.901677e+07,156571.8
Ukraine,1002.330534,2733.750840,69.576506,4.498976e+07,0.0
United Kingdom,30787.366532,61205.919539,1455.698402,6.524557e+07,609979.5
United States,114589.956220,193487.922934,4689.826355,3.213942e+08,4518929.3
Uruguay,127.558462,577.190327,10.795390,3.419979e+06,0.0

In [42]:
# df_country.loc[:, 'SDG-pop'] = df_country.loc[:, 'SDG'] /  df_country.loc[:, 'avg_pop']
# df_country.loc[:, 'DT-pop'] = df_country.loc[:, 'DT'] /  df_country.loc[:, 'avg_pop']
# df_country.loc[:, 'Inter-pop'] = df_country.loc[:, 'Inter'] /  df_country.loc[:, 'avg_pop']

df_country.loc[:, 'SDG-gdp'] = df_country.loc[:, 'SDG'] /  df_country.loc[:, 'gdp']
df_country.loc[:, 'DT-gdp'] = df_country.loc[:, 'DT'] /  df_country.loc[:, 'gdp']
df_country.loc[:, 'Inter-gdp'] = df_country.loc[:, 'Inter'] /  df_country.loc[:, 'gdp']

df_country

,SDG,DT,Inter,avg_pop,gdp,SDG-gdp,DT-gdp,Inter-gdp
Albania,33.306126,249.054814,2.220635,2.875263e+06,3348.7,0.009946,0.074374,0.000663
Algeria,2206.074170,1425.219143,94.420238,4.020870e+07,0.0,inf,inf,inf
Argentina,1119.582110,4854.826979,40.743442,4.333679e+07,0.0,inf,inf,inf
Armenia,51.328493,96.112800,4.187472,2.924618e+06,0.0,inf,inf,inf
Australia,17903.566199,46270.843816,972.265841,2.400823e+07,324962.5,0.055094,0.142388,0.002992
...,...,...,...,...,...,...,...,...
Turkey,12098.228238,15803.667151,503.252824,7.901677e+07,156571.8,0.077270,0.100936,0.003214
Ukraine,1002.330534,2733.750840,69.576506,4.498976e+07,0.0,inf,inf,inf
United Kingdom,30787.366532,61205.919539,1455.698402,6.524557e+07,609979.5,0.050473,0.100341,0.002386
United States,114589.956220,193487.922934,4689.826355,3.213942e+08,4518929.3,0.025358,0.042817,0.001038
Uruguay,127.558462,577.190327,10.795390,3.419979e+06,0.0,inf,inf,inf

In [56]:
df_country.loc[:, ['SDG', 'DT', 'Inter']] = df_country.loc[:, ['SDG', 'DT', 'Inter']].round(0)
df_country.loc[:, ['SDG-gdp', 'DT-gdp', 'Inter-gdp']] = df_country.loc[:, ['SDG-gdp', 'DT-gdp', 'Inter-gdp']]*1000

In [57]:
df_country.loc[['EU']+eu_countries+other_countries, ['SDG', 'DT', 'Inter', 'SDG-gdp', 'DT-gdp', 'Inter-gdp']].to_excel("frac_countries.xlsx")

In [74]:
# for cat in ['SDG', 'DT', 'Inter', 'SDG-pop', 'DT-pop','Inter-pop', 'SDG-gdp', 'DT-gdp', 'Inter-gdp']:
for cat in ['SDG', 'DT', 'Inter']:
    # tit = cat.replace("-pop", "").replace("-gdp", "")
    if 'pop' in cat:
        spec = "/pop*"
        annot= "*Normalised by population"
    elif "gdp" in cat:
        spec = "/gdp*"
        annot = "*Normalised by GDP (in M$)"
    else:
        spec = ""
        annot = ""
    tit = f"Nb pubs{spec}"

    layout = go.Layout(
        annotations=[
            dict(
                x=1,
                y=0.9,
                align="right",
                valign="top",
                text=tit,
                showarrow=False,
                xref="paper",
                yref="paper",
                xanchor="center",
                yanchor="top",
                font_size=22,
                ),
            dict(
                x=0.25,
                y=-.01,
                align="right",
                valign="top",
                text=annot,
                showarrow=False,
                xref="paper",
                yref="paper",
                xanchor="center",
                yanchor="top",
                font_size=30,
                ),
            ],
        )
    fig = go.Figure(
            data=go.Choropleth(
                locations=df_country.index,
                z=df_country[cat],
                text=df_country.index,
                locationmode="country names",
                colorscale='Blues',
                autocolorscale=False,
                colorbar=dict(
                    len=0.8,
                    y=0.45,
                    x= 0.95
                )
            ),
            layout=layout,
        )

    fig.update_layout(
        template='simple_white',
        font=dict(size=25),
        showlegend=True,

        geo=go.layout.Geo(
            scope="world",
            landcolor='lightgray',
            projection_scale=1,
            center=dict(lon=20, lat=30),
            projection_type="kavrayskiy7",

            showland=True,
            showcountries=False,
            showframe=False
        ),
        height=900,
        width=1400
    )

    fig.write_image(f"../img/Commission/maps/World/{cat}.jpg")
    # pio.write_image(fig, folder, format='png')

## Specialization

In [6]:
df_country_w_continent = pd.read_excel("../data/countries_w_continent.xlsx", sheet_name=0, index_col=0)
df_country_w_continent

,Country,Country ISO3,Country Code,Long Name,Income Group,Lending Category,Region,Currency Unit,Other Groups,WTO Member,latitude,longitude
0,Afghanistan,AFG,4,Islamic State of Afghanistan,Low income,IDA,South Asia,Afghan afghani,HIPC,No,33.939110,67.709953
1,Albania,ALB,8,Republic of Albania,Upper middle income,IBRD,Europe & Central Asia,Albanian lek,NaN,Yes,41.153332,20.168331
2,Algeria,DZA,12,People's Democratic Republic of Algeria,Upper middle income,IBRD,Middle East & North Africa,Algerian dinar,NaN,No,28.033886,1.659626
3,American Samoa,ASM,16,American Samoa,Upper middle income,NaN,East Asia & Pacific,U.S. dollar,NaN,No,-14.270972,-170.132217
4,Andorra,AND,20,NaN,Others,NaN,Europe & Central Asia,NaN,NaN,No,42.546245,1.601554
...,...,...,...,...,...,...,...,...,...,...,...,...
265,Venezuela,VEN,862,República Bolivariana de Venezuela,High income: nonOECD,IBRD,Latin America & Caribbean,Venezuelan bolivar fuerte,NaN,Yes,6.423750,-66.589730
266,Vietnam,VNM,704,Socialist Republic of Vietnam,Lower middle income,Blend,East Asia & Pacific,Vietnamese dong,NaN,Yes,14.058324,108.277199
270,Yemen,YEM,887,Republic of Yemen,Lower middle income,IDA,Middle East & North Africa,Yemeni rial,NaN,No,15.552727,48.516388
273,Zambia,ZMB,894,Republic of Zambia,Lower middle income,IDA,Sub-Saharan Africa,New Zambian kwacha,HIPC,Yes,-13.133897,27.849332
274,Zimbabwe,ZWE,716,Republic of Zimbabwe,Low income,Blend,Sub-Saharan Africa,U.S. dollar,NaN,Yes,-19.015438,29.154857

## Loop for counting frac publications detailed by countries and SDGs/DTs

In [11]:
lst_sdg = ["SDG" + str(i) for i in range(1, 18)]
lst_cat = ["Environment", "Society", "Economy"]
lst_dt_shortened = ['AI', 'robotics', 'IOT']
lst_dt = ['AI', 'big_data', 'IOT', 'computing_infrastructure', 'blockchain', 'robotics',
          'additive_manufacturing']
lst_cat_dt = ['Environment-AI', 'Environment-robotics', 'Environment-IOT',
              'Society-AI', 'Society-robotics', 'Society-IOT',
              'Economy-AI', 'Economy-robotics', 'Economy-IOT']
lst_sdg_dt = [sdg+"-"+dt for sdg in lst_sdg for dt in lst_dt]
df_sdg = pd.read_pickle("../data/dataframes/all_sdg_fixed_dst.pkl")
df_dt = pd.read_pickle("../data/dataframes/dt_updated.pkl")

# Filtering for Journal only
df_sdg = df_sdg[df_sdg.PT == 'J']
df_dt = df_dt[df_dt.PT == 'J']
df_sdg_dt = df_sdg[df_sdg['DST']]

['SDG1-AI',
 'SDG1-big_data',
 'SDG1-IOT',
 'SDG1-computing_infrastructure',
 'SDG1-blockchain',
 'SDG1-robotics',
 'SDG1-additive_manufacturing',
 'SDG2-AI',
 'SDG2-big_data',
 'SDG2-IOT',
 'SDG2-computing_infrastructure',
 'SDG2-blockchain',
 'SDG2-robotics',
 'SDG2-additive_manufacturing',
 'SDG3-AI',
 'SDG3-big_data',
 'SDG3-IOT',
 'SDG3-computing_infrastructure',
 'SDG3-blockchain',
 'SDG3-robotics',
 'SDG3-additive_manufacturing',
 'SDG4-AI',
 'SDG4-big_data',
 'SDG4-IOT',
 'SDG4-computing_infrastructure',
 'SDG4-blockchain',
 'SDG4-robotics',
 'SDG4-additive_manufacturing',
 'SDG5-AI',
 'SDG5-big_data',
 'SDG5-IOT',
 'SDG5-computing_infrastructure',
 'SDG5-blockchain',
 'SDG5-robotics',
 'SDG5-additive_manufacturing',
 'SDG6-AI',
 'SDG6-big_data',
 'SDG6-IOT',
 'SDG6-computing_infrastructure',
 'SDG6-blockchain',
 'SDG6-robotics',
 'SDG6-additive_manufacturing',
 'SDG7-AI',
 'SDG7-big_data',
 'SDG7-IOT',
 'SDG7-computing_infrastructure',
 'SDG7-blockchain',
 'SDG7-robotics',
 'SDG7-additive_manufacturing',
 'SDG8-AI',
 'SDG8-big_data',
 'SDG8-IOT',
 'SDG8-computing_infrastructure',
 'SDG8-blockchain',
 'SDG8-robotics',
 'SDG8-additive_manufacturing',
 'SDG9-AI',
 'SDG9-big_data',
 'SDG9-IOT',
 'SDG9-computing_infrastructure',
 'SDG9-blockchain',
 'SDG9-robotics',
 'SDG9-additive_manufacturing',
 'SDG10-AI',
 'SDG10-big_data',
 'SDG10-IOT',
 'SDG10-computing_infrastructure',
 'SDG10-blockchain',
 'SDG10-robotics',
 'SDG10-additive_manufacturing',
 'SDG11-AI',
 'SDG11-big_data',
 'SDG11-IOT',
 'SDG11-computing_infrastructure',
 'SDG11-blockchain',
 'SDG11-robotics',
 'SDG11-additive_manufacturing',
 'SDG12-AI',
 'SDG12-big_data',
 'SDG12-IOT',
 'SDG12-computing_infrastructure',
 'SDG12-blockchain',
 'SDG12-robotics',
 'SDG12-additive_manufacturing',
 'SDG13-AI',
 'SDG13-big_data',
 'SDG13-IOT',
 'SDG13-computing_infrastructure',
 'SDG13-blockchain',
 'SDG13-robotics',
 'SDG13-additive_manufacturing',
 'SDG14-AI',
 'SDG14-big_data',
 'SDG14-IOT',
 'SDG14-computing_infrastructure',
 'SDG14-blockchain',
 'SDG14-robotics',
 'SDG14-additive_manufacturing',
 'SDG15-AI',
 'SDG15-big_data',
 'SDG15-IOT',
 'SDG15-computing_infrastructure',
 'SDG15-blockchain',
 'SDG15-robotics',
 'SDG15-additive_manufacturing',
 'SDG16-AI',
 'SDG16-big_data',
 'SDG16-IOT',
 'SDG16-computing_infrastructure',
 'SDG16-blockchain',
 'SDG16-robotics',
 'SDG16-additive_manufacturing',
 'SDG17-AI',
 'SDG17-big_data',
 'SDG17-IOT',
 'SDG17-computing_infrastructure',
 'SDG17-blockchain',
 'SDG17-robotics',
 'SDG17-additive_manufacturing']

In [12]:
%%time
import itertools
from tqdm import tqdm
dic = {c:{elem:0 for elem in lst_sdg+lst_cat+lst_dt+lst_cat_dt+lst_sdg_dt} for c in set_countries}
dic_world = {elem:0 for elem in lst_sdg+lst_cat+lst_dt+lst_cat_dt+lst_sdg_dt}

# SDG dataframe
for row in tqdm(df_sdg.itertuples(index=False, name=None), total=df_sdg.shape[0]):
    lst_actors = row[idx_sdg['CN']].split(", ")
    size_actors = len(lst_actors)
    sdgs_in_pubs = []
    # Country count
    for sdg in lst_sdg:
        if row[idx_sdg[sdg]]:
            sdgs_in_pubs += sdg
            for actor in lst_actors:
                dic_world[sdg] += 1
                dic[actor][sdg] += 1
    for cat in lst_cat:
        if row[idx_sdg[cat]]:
            for actor in lst_actors:
                dic_world[cat] += 1
                dic[actor][cat] += 1


# DT dataframe
for row in tqdm(df_dt.itertuples(index=False, name=None), total=df_dt.shape[0]):
    lst_actors = row[idx_dt['CN']].split(", ")
    # Country count
    for dt in lst_dt:
        if row[idx_dt[dt]]:
            for actor in lst_actors:
                if actor in dic:
                    dic[actor][dt] += 1
                    dic_world[dt] += 1

# Intersection
for row in tqdm(df_sdg_dt.itertuples(index=False, name=None), total=df_sdg_dt.shape[0]):
    # Country count
    lst_actors = row[idx_sdg_dt['CN']].split(", ")
    for cat in lst_cat:
        if row[idx_sdg_dt[cat]]:
            for dt in lst_dt:
                if row[idx_sdg_dt[dt]]:
                    for actor in lst_actors:
                        # CAT-DT
                        if str(cat) + "-" + str(dt) in lst_cat_dt:
                            dic_world[str(cat) + "-" + str(dt)] += 1
                            dic[actor][str(cat) + "-" + str(dt)] += 1
    # SDG-DT
    for sdg in lst_sdg:
        if row[idx_sdg_dt[cat]]:
            for dt in lst_dt:
                if row[idx_sdg_dt[dt]]:
                    for actor in lst_actors:
                        dic_world[str(sdg) + "-" + str(dt)] += 1
                        dic[actor][str(sdg) + "-" + str(dt)] += 1

100%|██████████| 1072858/1072858 [00:06<00:00, 163031.78it/s]
100%|██████████| 755468/755468 [00:02<00:00, 304353.95it/s]
100%|██████████| 33097/33097 [00:00<00:00, 65586.90it/s]

CPU times: user 9.63 s, sys: 1.97 ms, total: 9.63 s
Wall time: 9.63 s

## Version with fractional
### Launch this one or the one above

In [19]:
%%time
import itertools
from tqdm import tqdm
dic = {c:{elem:0 for elem in lst_sdg+lst_cat+lst_dt+lst_cat_dt} for c in set_countries}
dic_world = {elem:0 for elem in lst_sdg+lst_cat+lst_dt+lst_cat_dt}

# SDG dataframe
for row in tqdm(df_sdg.itertuples(index=False, name=None), total=df_sdg.shape[0]):
    lst_actors = row[idx_sdg['CN']].split(", ")
    size_actors = len(lst_actors)

    # Country count
    for sdg in lst_sdg:
        if row[idx_sdg[sdg]]:
            for actor in lst_actors:
                dic[actor][sdg] += 1 / size_actors
    for cat in lst_cat:
        if row[idx_sdg[cat]]:
            for actor in lst_actors:
                dic[actor][cat] += 1 / size_actors


# DT dataframe
for row in tqdm(df_dt.itertuples(index=False, name=None), total=df_dt.shape[0]):
    lst_actors = row[idx_dt['CN']].split(", ")
    size_actors = len(lst_actors)
    # Country count
    for dt in lst_dt:
        if row[idx_dt[dt]]:
            for actor in lst_actors:
                if actor in dic:
                    dic[actor][dt] += 1 / size_actors

# Intersection
for row in tqdm(df_sdg_dt.itertuples(index=False, name=None), total=df_sdg_dt.shape[0]):
    # Country count
    lst_actors = row[idx_sdg_dt['CN']].split(", ")
    size_actors = len(lst_actors)
    for cat in lst_cat:
        if row[idx_sdg_dt[cat]]:
            for dt in lst_dt:
                if row[idx_sdg_dt[dt]]:
                    for actor in lst_actors:
                        if str(cat) + "-" + str(dt) in lst_cat_dt:
                            dic[actor][str(cat) + "-" + str(dt)] += 1 / size_actors

100%|██████████| 1072858/1072858 [00:05<00:00, 190103.60it/s]
100%|██████████| 755468/755468 [00:02<00:00, 313322.26it/s]
100%|██████████| 33097/33097 [00:00<00:00, 158539.44it/s]

CPU times: user 8.3 s, sys: 11.1 ms, total: 8.31 s
Wall time: 8.3 s

In [27]:
# Still fractional
df_spec_raw = pd.DataFrame.from_dict(data=dic, orient="index", columns=lst_sdg+lst_cat+lst_dt+lst_cat_dt)
df_spec_raw = df_spec_raw.loc[df_country_eu_other.index, :]
df_spec_raw

,SDG1,SDG2,SDG3,SDG4,SDG5,SDG6,SDG7,SDG8,SDG9,SDG10,...,additive_manufacturing,Environment-AI,Environment-robotics,Environment-IOT,Society-AI,Society-robotics,Society-IOT,Economy-AI,Economy-robotics,Economy-IOT
Country,,,,,,,,,,,,,,,,,,,,,
Austria,99.129706,89.876359,465.396389,181.442442,300.463623,461.850175,286.902456,143.672893,124.026000,183.830786,...,364.669528,32.140631,8.670235,9.234598,35.037460,7.931554,13.472455,11.400167,6.250000,4.519048
Belgium,247.556522,154.442103,728.230937,385.604418,479.519249,912.342919,379.789156,254.117997,154.676643,276.214672,...,489.329490,32.713458,14.535158,9.967162,54.390882,15.604618,17.433035,16.339087,2.916667,9.515909
Bulgaria,9.252259,23.364531,104.797291,22.003112,34.891779,110.873003,40.022577,25.080026,12.182740,33.880159,...,41.594527,3.151627,1.000000,0.000000,8.350964,2.333333,6.000000,2.493590,0.000000,2.000000
Croatia,30.822394,24.157152,252.437626,104.374957,110.684492,255.618357,131.832675,99.541005,54.118661,105.412118,...,84.229462,23.429979,10.088889,3.750000,28.024428,5.066667,4.985714,2.850000,0.697917,3.900000
Cyprus,12.360317,10.450433,89.181374,77.835182,27.101162,112.016587,49.546044,28.621946,20.056284,46.298449,...,21.224315,10.226923,5.545833,2.586601,13.759139,1.822222,3.559524,0.816667,1.000000,1.219048
Czech Republic,68.315116,48.027673,307.222999,122.093153,201.978334,586.034928,145.248078,169.942943,101.401962,135.497227,...,401.690766,15.007030,14.054004,3.121679,24.560317,12.897619,7.335965,7.997222,3.400000,3.809524
Denmark,194.680317,116.780769,656.442075,293.036405,524.692786,856.026335,485.649188,182.142532,157.279584,156.772282,...,239.310909,39.287645,14.988282,9.284394,31.068986,10.600953,17.519156,7.903463,1.533333,5.026190
Estonia,11.800166,11.457941,76.807301,51.801797,72.788031,98.194992,37.649063,35.058442,25.458473,21.327315,...,56.605159,14.866457,3.258333,1.142857,6.163528,3.440152,4.714286,4.200000,0.750000,0.706667
Finland,153.286325,62.915046,516.007436,448.720034,463.853880,814.586437,395.209130,177.031326,155.042587,217.318793,...,282.240712,34.060974,13.954776,12.624099,47.117063,13.053968,23.511668,6.971429,2.829167,12.218884
France,342.560338,393.979098,1877.815806,381.693665,1427.262311,2074.404086,771.463925,421.716007,307.615795,339.383032,...,1231.375473,146.773465,52.043033,14.249275,125.421703,33.531877,70.521952,27.301422,5.061582,18.803095
Germany,723.048157,461.137028,2937.266653,1368.170583,2283.814950,3206.537816,1618.226987,989.341667,657.083722,896.647265,...,2993.472837,262.255043,73.399844,33.589850,252.254514,64.146141,65.447904,70.858627,28.307440,33.886093
Greece,96.294181,96.235711,644.444117,209.068255,330.566324,1142.128847,366.325507,131.142445,120.085038,156.846842,...,271.755143,84.558809,17.940593,17.263963,103.575854,26.552031,32.112462,28.604365,6.301832,13.230952
Hungary,38.789202,32.563400,265.608942,88.954869,84.201224,330.580298,111.887045,71.546261,47.913982,83.056478,...,164.730910,15.031855,3.950000,4.952778,24.276842,6.881548,8.200000,4.981624,1.250000,3.291667
Ireland,120.967417,59.250513,550.533013,293.883263,258.938279,477.007997,168.969497,116.742308,94.715032,176.307425,...,237.564712,22.217682,6.209804,6.016395,40.408410,10.326681,20.548157,12.416667,3.900000,5.957576
Italy,530.662707,578.039412,4975.194759,768.551081,2205.501688,4182.405568,1868.174722,714.118875,647.675549,909.182787,...,2330.421674,250.091519,114.443379,80.434616,327.326671,110.246341,161.031729,72.914227,31.680879,60.509354
Latvia,3.928803,4.814076,37.694040,10.948785,20.627724,60.429161,44.301720,26.127899,18.084146,15.516667,...,15.628186,0.189322,0.125000,1.000000,2.291667,0.291667,2.000000,0.500000,0.000000,0.000000
Lithuania,25.319555,33.313210,138.580018,35.259975,86.065341,167.420966,101.951169,74.443912,68.987900,70.463704,...,73.429330,7.516685,6.750000,1.700000,13.235256,3.166667,2.242857,4.313889,1.000000,1.766667
Luxembourg,26.311610,6.721673,38.980583,22.226419,14.850715,68.507407,19.986783,24.332937,13.084892,18.800000,...,14.127381,2.570635,0.777778,0.000000,11.632540,1.444444,0.142857,2.387179,0.333333,1.183333
Malta,5.417006,0.014925,38.475624,15.090887,15.202849,7.608241,9.617867,6.557143,5.280424,9.148810,...,10.830844,0.037037,0.967391,0.000000,0.809597,0.000000,0.250000,0.000000,0.000000,0.000000
Netherlands,522.432262,329.904387,1489.473197,998.425355,1001.927291,1521.892512,789.740082,481.792085,394.482814,609.915678,...,654.154837,64.719533,23.919629,4.090842,102.756719,33.184288,23.554294,23.338828,10.717361,7.795833
Poland,119.182686,194.690609,1471.879417,240.225858,450.805099,2182.261389,684.059384,294.295030,281.727705,301.831407,...,938.331111,82.566403,29.331875,6.399457,115.248813,20.602871,21.918505,28.233333,4.993590,10.142857
Portugal,101.759538,107.253525,678.609240,419.464550,839.118866,1456.578171,518.242303,231.681050,245.826462,297.790952,...,528.359924,63.536772,29.764971,16.741667,91.774958,24.853571,38.218723,27.220177,6.585714,16.690476
Romania,84.596325,116.000392,700.096030,100.760612,182.735219,806.397197,247.929358,209.293725,174.999585,290.233009,...,403.311631,37.387226,12.828632,18.339286,58.890624,16.711111,30.980195,17.823810,9.000000,14.232540
Slovakia,43.823610,23.676786,187.487197,109.131151,59.439468,167.309311,55.280336,86.275121,62.558245,85.892483,...,182.760582,8.945149,1.000000,0.052632,9.300397,3.711905,1.352632,5.000000,1.000000,1.000000
Slovenia,25.678836,18.191261,153.767729,84.494460,69.710676,237.702121,101.258472,63.466061,52.148819,83.959795,...,162.167811,13.316965,1.406250,2.791667,20.468664,4.800000,5.142857,2.448413,3.083333,4.059524
Spain,524.967519,390.462162,2624.197029,1231.039805,2139.612255,5470.152567,1566.353062,786.284466,689.138881,1079.465728,...,1390.499945,265.935692,83.266375,73.387946,367.603675,91.672061,158.454640,95.842631,28.609364,57.460763
Sweden,387.895223,138.984270,1006.328310,748.457335,1124.426552,1312.420337,758.340343,359.697328,277.385278,407.903467,...,478.055501,43.675598,10.537388,11.273825,64.076498,19.959441,30.041646,18.856383,5.916667,11.285653
Norway,191.582238,83.035709,638.404027,508.483293,851.313525,557.678147,335.216645,201.461769,144.821919,260.126795,...,163.647935,56.815084,27.060651,4.284877,44.225354,12.190548,18.932973,14.278655,3.531250,3.809524
Switzerland,206.651358,182.093578,1117.386334,309.763278,594.831306,879.440499,397.283832,244.407815,185.888000,224.136279,...,628.346078,55.213955,15.627546,9.989060,74.757735,26.384938,28.535023,19.410481,4.956923,7.537121
United Kingdom,2463.008787,805.696226,6725.736005,3391.209509,4249.722638,3630.802787,2280.176160,1980.237005,1329.150081,2401.987263,...,2735.312261,260.115873,127.398529,56.335302,420.420391,101.571680,164.617088,106.693862,31.560306,59.272287
Canada,1259.817662,486.192635,3645.576088,2135.893592,2547.714369,3275.231836,1215.126982,760.038668,581.410354,922.343194,...,1291.922274,245.928767,61.980737,28.116747,294.404509,50.873513,111.716484,46.674514,12.242384,22.828064
China,1490.218530,1400.685335,9924.594001,1971.432117,5056.579025,27016.839099,13075.669433,1532.247137,3252.946216,1653.684691,...,9534.964027,1405.156424,282.347950,212.415031,2258.714477,343.791740,1145.183016,435.348286,62.231575,130.887551
United States,8635.115779,2651.321997,28864.297267,16330.358924,12817.700016,11088.365050,5931.563979,4804.978300,2935.976436,3431.874239,...,9063.749880,1118.966643,392.564769,146.446414,1469.072736,331.086465,447.674137,284.627379,90.359297,98.702100
Japan,338.647029,238.170684,2135.336149,471.463166,892.913268,2004.983589,1192.426972,344.847242,290.670736,266.180066,...,1002.984786,132.680803,76.932243,23.709560,148.369366,57.433730,61.969574,24.640079,11.759821,12.458333
South Korea,417.722060,160.863699,1872.687500,468.238954,634.912961,2354.307863,1758.551308,368.276791,450.045932,323.747653,...,1869.735209,267.236109,64.482753,63.016667,367.168591,56.315032,279.010786,77.733766,8.809524,39.926948
Australia,1208.909507,566.409920,3593.683223,3679.624353,3819.323895,3625.334634,1705.139462,1102.363539,958.221547,1514.969154,...,1446.415171,257.386109,112.652157,49.042313,270.333772,68.848834,94.414382,61.494486,21.035515,29.012393
Israel,138.435611,60.528854,834.221293,452.921120,283.246235,443.802242,92.790115,94.039046,48.237263,123.733418,...,219.684532,18.823509,6.476190,1.333333,32.999285,8.726190,7.211204,0.523160,1.926190,0.000000

In [32]:
df_spec_raw_gdp = df_spec_raw.div(gdp.loc[df_country_eu_other.index], axis=0)
df_spec_raw_gdp

,SDG1,SDG2,SDG3,SDG4,SDG5,SDG6,SDG7,SDG8,SDG9,SDG10,...,additive_manufacturing,Environment-AI,Environment-robotics,Environment-IOT,Society-AI,Society-robotics,Society-IOT,Economy-AI,Economy-robotics,Economy-IOT
Country,,,,,,,,,,,,,,,,,,,,,
Austria,0.00112,0.001015,0.005257,0.002049,0.003394,0.005217,0.003241,0.001623,0.001401,0.002076,...,0.004119,0.000363,0.000098,0.000104,0.000396,0.00009,0.000152,0.000129,0.000071,0.000051
Belgium,0.002343,0.001462,0.006893,0.00365,0.004539,0.008636,0.003595,0.002405,0.001464,0.002615,...,0.004632,0.00031,0.000138,0.000094,0.000515,0.000148,0.000165,0.000155,0.000028,0.00009
Bulgaria,0.000647,0.001633,0.007324,0.001538,0.002439,0.007749,0.002797,0.001753,0.000851,0.002368,...,0.002907,0.00022,0.00007,0.0,0.000584,0.000163,0.000419,0.000174,0.0,0.00014
Croatia,0.002636,0.002066,0.021588,0.008926,0.009465,0.02186,0.011274,0.008512,0.004628,0.009015,...,0.007203,0.002004,0.000863,0.000321,0.002397,0.000433,0.000426,0.000244,0.00006,0.000334
Cyprus,0.002437,0.00206,0.017581,0.015344,0.005343,0.022083,0.009767,0.005642,0.003954,0.009127,...,0.004184,0.002016,0.001093,0.00051,0.002712,0.000359,0.000702,0.000161,0.000197,0.00024
Czech Republic,0.001369,0.000962,0.006155,0.002446,0.004047,0.011741,0.00291,0.003405,0.002032,0.002715,...,0.008048,0.000301,0.000282,0.000063,0.000492,0.000258,0.000147,0.00016,0.000068,0.000076
Denmark,0.002596,0.001557,0.008753,0.003907,0.006997,0.011415,0.006476,0.002429,0.002097,0.00209,...,0.003191,0.000524,0.0002,0.000124,0.000414,0.000141,0.000234,0.000105,0.00002,0.000067
Estonia,0.001824,0.001771,0.011875,0.008009,0.011253,0.015181,0.005821,0.00542,0.003936,0.003297,...,0.008751,0.002298,0.000504,0.000177,0.000953,0.000532,0.000729,0.000649,0.000116,0.000109
Finland,0.002656,0.00109,0.00894,0.007775,0.008037,0.014114,0.006847,0.003067,0.002686,0.003765,...,0.00489,0.00059,0.000242,0.000219,0.000816,0.000226,0.000407,0.000121,0.000049,0.000212
France,0.000653,0.000751,0.003581,0.000728,0.002722,0.003956,0.001471,0.000804,0.000587,0.000647,...,0.002348,0.00028,0.000099,0.000027,0.000239,0.000064,0.000134,0.000052,0.00001,0.000036
Germany,0.000918,0.000586,0.003731,0.001738,0.002901,0.004073,0.002055,0.001257,0.000835,0.001139,...,0.003802,0.000333,0.000093,0.000043,0.00032,0.000081,0.000083,0.00009,0.000036,0.000043
Greece,0.002542,0.00254,0.017011,0.005518,0.008726,0.030147,0.009669,0.003462,0.00317,0.00414,...,0.007173,0.002232,0.000474,0.000456,0.002734,0.000701,0.000848,0.000755,0.000166,0.000349
Hungary,0.001242,0.001043,0.008505,0.002848,0.002696,0.010585,0.003583,0.002291,0.001534,0.002659,...,0.005275,0.000481,0.000126,0.000159,0.000777,0.00022,0.000263,0.00016,0.00004,0.000105
Ireland,0.001429,0.0007,0.006502,0.003471,0.003058,0.005634,0.001996,0.001379,0.001119,0.002082,...,0.002806,0.000262,0.000073,0.000071,0.000477,0.000122,0.000243,0.000147,0.000046,0.00007
Italy,0.001416,0.001542,0.013276,0.002051,0.005885,0.011161,0.004985,0.001906,0.001728,0.002426,...,0.006219,0.000667,0.000305,0.000215,0.000873,0.000294,0.00043,0.000195,0.000085,0.000161
Latvia,0.00055,0.000673,0.005273,0.001532,0.002885,0.008453,0.006197,0.003655,0.00253,0.00217,...,0.002186,0.000026,0.000017,0.00014,0.000321,0.000041,0.00028,0.00007,0.0,0.0
Lithuania,0.002141,0.002817,0.011719,0.002982,0.007278,0.014158,0.008621,0.006295,0.005834,0.005959,...,0.006209,0.000636,0.000571,0.000144,0.001119,0.000268,0.00019,0.000365,0.000085,0.000149
Luxembourg,0.001709,0.000437,0.002531,0.001443,0.000964,0.004449,0.001298,0.00158,0.00085,0.001221,...,0.000917,0.000167,0.000051,0.0,0.000755,0.000094,0.000009,0.000155,0.000022,0.000077
Malta,0.001776,0.000005,0.012614,0.004948,0.004984,0.002494,0.003153,0.00215,0.001731,0.002999,...,0.003551,0.000012,0.000317,0.0,0.000265,0.0,0.000082,0.0,0.0,0.0
Netherlands,0.002716,0.001715,0.007743,0.00519,0.005208,0.007911,0.004105,0.002505,0.002051,0.003171,...,0.003401,0.000336,0.000124,0.000021,0.000534,0.000173,0.000122,0.000121,0.000056,0.000041
Poland,0.001014,0.001657,0.012527,0.002045,0.003837,0.018573,0.005822,0.002505,0.002398,0.002569,...,0.007986,0.000703,0.00025,0.000054,0.000981,0.000175,0.000187,0.00024,0.000042,0.000086
Portugal,0.00223,0.00235,0.01487,0.009192,0.018388,0.031918,0.011356,0.005077,0.005387,0.006526,...,0.011578,0.001392,0.000652,0.000367,0.002011,0.000545,0.000837,0.000596,0.000144,0.000366
Romania,0.001805,0.002475,0.014936,0.00215,0.003898,0.017203,0.005289,0.004465,0.003733,0.006192,...,0.008604,0.000798,0.000274,0.000391,0.001256,0.000357,0.000661,0.00038,0.000192,0.000304
Slovakia,0.002006,0.001084,0.008582,0.004995,0.002721,0.007659,0.00253,0.003949,0.002864,0.003932,...,0.008366,0.000409,0.000046,0.000002,0.000426,0.00017,0.000062,0.000229,0.000046,0.000046
Slovenia,0.002327,0.001649,0.013936,0.007658,0.006318,0.021543,0.009177,0.005752,0.004726,0.007609,...,0.014697,0.001207,0.000127,0.000253,0.001855,0.000435,0.000466,0.000222,0.000279,0.000368
Spain,0.002098,0.001561,0.010488,0.00492,0.008552,0.021863,0.00626,0.003143,0.002754,0.004314,...,0.005558,0.001063,0.000333,0.000293,0.001469,0.000366,0.000633,0.000383,0.000114,0.00023
Sweden,0.003362,0.001205,0.008723,0.006488,0.009747,0.011377,0.006574,0.003118,0.002405,0.003536,...,0.004144,0.000379,0.000091,0.000098,0.000555,0.000173,0.00026,0.000163,0.000051,0.000098
Norway,0.00262,0.001135,0.00873,0.006953,0.011641,0.007626,0.004584,0.002755,0.00198,0.003557,...,0.002238,0.000777,0.00037,0.000059,0.000605,0.000167,0.000259,0.000195,0.000048,0.000052
Switzerland,0.001331,0.001173,0.007198,0.001995,0.003832,0.005665,0.002559,0.001574,0.001197,0.001444,...,0.004048,0.000356,0.000101,0.000064,0.000482,0.00017,0.000184,0.000125,0.000032,0.000049
United Kingdom,0.004603,0.001506,0.01257,0.006338,0.007943,0.006786,0.004262,0.003701,0.002484,0.004489,...,0.005112,0.000486,0.000238,0.000105,0.000786,0.00019,0.000308,0.000199,0.000059,0.000111
Canada,0.003914,0.00151,0.011325,0.006635,0.007915,0.010175,0.003775,0.002361,0.001806,0.002865,...,0.004014,0.000764,0.000193,0.000087,0.000915,0.000158,0.000347,0.000145,0.000038,0.000071
China,0.000469,0.00044,0.00312,0.00062,0.00159,0.008494,0.004111,0.000482,0.001023,0.00052,...,0.002998,0.000442,0.000089,0.000067,0.00071,0.000108,0.00036,0.000137,0.00002,0.000041
United States,0.001929,0.000592,0.006448,0.003648,0.002863,0.002477,0.001325,0.001073,0.000656,0.000767,...,0.002025,0.00025,0.000088,0.000033,0.000328,0.000074,0.0001,0.000064,0.00002,0.000022
Japan,0.000318,0.000224,0.002005,0.000443,0.000838,0.001882,0.001119,0.000324,0.000273,0.00025,...,0.000942,0.000125,0.000072,0.000022,0.000139,0.000054,0.000058,0.000023,0.000011,0.000012
South Korea,0.001179,0.000454,0.005285,0.001321,0.001792,0.006644,0.004963,0.001039,0.00127,0.000914,...,0.005276,0.000754,0.000182,0.000178,0.001036,0.000159,0.000787,0.000219,0.000025,0.000113
Australia,0.004312,0.00202,0.012819,0.013125,0.013623,0.012931,0.006082,0.003932,0.003418,0.005404,...,0.005159,0.000918,0.000402,0.000175,0.000964,0.000246,0.000337,0.000219,0.000075,0.000103
Israel,0.001624,0.00071,0.009789,0.005315,0.003324,0.005208,0.001089,0.001103,0.000566,0.001452,...,0.002578,0.000221,0.000076,0.000016,0.000387,0.000102,0.000085,0.000006,0.000023,0.0

In [31]:
# Back to main form of spec calculus
df_spec_raw = pd.DataFrame.from_dict(data=dic, orient="index", columns=lst_sdg+lst_cat+lst_dt+lst_cat_dt+lst_sdg_dt)
df_spec_raw

,SDG1,SDG2,SDG3,SDG4,SDG5,SDG6,SDG7,SDG8,SDG9,SDG10,...,SDG16-blockchain,SDG16-robotics,SDG16-additive_manufacturing,SDG17-AI,SDG17-big_data,SDG17-IOT,SDG17-computing_infrastructure,SDG17-blockchain,SDG17-robotics,SDG17-additive_manufacturing
Russia,291,312,3114,1082,1788,2417,1096,957,784,624,...,14,23,48,56,24,33,22,14,23,48
Luxembourg,82,37,244,90,71,363,87,64,52,63,...,1,1,7,10,4,5,8,1,1,7
New Caledonia,4,11,46,15,267,4,8,0,0,3,...,0,0,0,0,0,0,0,0,0,0
Trinidad and Tobago,21,16,124,25,61,52,33,16,37,16,...,0,0,3,6,1,3,3,0,0,3
Saint Vincent and the Grenadines,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Libya,6,4,262,16,18,42,16,3,10,4,...,0,0,0,2,0,0,0,0,0,0
Palestine,44,25,220,33,31,141,47,18,63,9,...,0,0,5,6,4,0,0,0,0,5
Costa Rica,40,42,126,45,180,316,46,28,28,26,...,0,0,0,6,3,0,0,0,0,0
Grenada,2,0,43,2,8,2,2,0,4,5,...,0,0,0,0,0,0,0,0,0,0
Saint Lucia,0,0,2,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
df_spec_raw.loc['world', :] = df_spec_raw.sum(axis=0)
df_spec_raw

,SDG1,SDG2,SDG3,SDG4,SDG5,SDG6,SDG7,SDG8,SDG9,SDG10,...,SDG16-blockchain,SDG16-robotics,SDG16-additive_manufacturing,SDG17-AI,SDG17-big_data,SDG17-IOT,SDG17-computing_infrastructure,SDG17-blockchain,SDG17-robotics,SDG17-additive_manufacturing
Russia,291.0,312.0,3114.0,1082.0,1788.0,2417.0,1096.0,957.0,784.0,624.0,...,14.0,23.0,48.0,56.0,24.0,33.0,22.0,14.0,23.0,48.0
Luxembourg,82.0,37.0,244.0,90.0,71.0,363.0,87.0,64.0,52.0,63.0,...,1.0,1.0,7.0,10.0,4.0,5.0,8.0,1.0,1.0,7.0
New Caledonia,4.0,11.0,46.0,15.0,267.0,4.0,8.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Trinidad and Tobago,21.0,16.0,124.0,25.0,61.0,52.0,33.0,16.0,37.0,16.0,...,0.0,0.0,3.0,6.0,1.0,3.0,3.0,0.0,0.0,3.0
Saint Vincent and the Grenadines,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Palestine,44.0,25.0,220.0,33.0,31.0,141.0,47.0,18.0,63.0,9.0,...,0.0,0.0,5.0,6.0,4.0,0.0,0.0,0.0,0.0,5.0
Costa Rica,40.0,42.0,126.0,45.0,180.0,316.0,46.0,28.0,28.0,26.0,...,0.0,0.0,0.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0
Grenada,2.0,0.0,43.0,2.0,8.0,2.0,2.0,0.0,4.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Saint Lucia,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
world,120625.0,89733.0,706438.0,190477.0,300975.0,598317.0,225075.0,72622.0,93317.0,74840.0,...,702.0,2394.0,2791.0,10094.0,3466.0,4320.0,3099.0,702.0,2394.0,2791.0

In [33]:
df_world = pd.DataFrame.from_dict(data=dic_world, orient="index", columns=['tot']).transpose()
df_world

,SDG1,SDG2,SDG3,SDG4,SDG5,SDG6,SDG7,SDG8,SDG9,SDG10,...,SDG16-blockchain,SDG16-robotics,SDG16-additive_manufacturing,SDG17-AI,SDG17-big_data,SDG17-IOT,SDG17-computing_infrastructure,SDG17-blockchain,SDG17-robotics,SDG17-additive_manufacturing
tot,120625,89733,706438,190477,300975,598317,225075,72622,93317,74840,...,702,2394,2791,10094,3466,4320,3099,702,2394,2791

In [34]:
# Keeping only some relevant countries
all_pub_wos = pd.read_excel("../data/total_number_pubs_2010_2022.xlsx", index_col=0)
tot_pub_countries = all_pub_wos.loc['TOT', :]
index_countries = list(tot_pub_countries.index)[2:]
lst_eu = ["Austria", "Belgium", "Bulgaria", "Croatia", "Cyprus", "Czech Republic", "Denmark",
          "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Ireland", "Italy",
          "Latvia", "Lithuania", "Luxembourg", "Malta", "Netherlands", "Poland",
          "Portugal", "Romania" ,"Slovakia", "Slovenia", "Spain", "Sweden"]
lst_eu.sort()
rest = sorted(list(set(index_countries).difference(set(lst_eu))))
rest.remove('Liechtenstein')
rest

['Australia',
 'Canada',
 'China',
 'Iceland',
 'Israel',
 'Japan',
 'Norway',
 'South Korea',
 'Switzerland',
 'United Kingdom',
 'United States']

In [35]:
df_spec_raw_categories = df_spec_raw.loc[:, ['Environment', 'Society', 'Economy']]
df_spec_raw_categories.loc[:, 'tot'] = df_spec_raw_categories.sum(axis=1)
df_spec_raw_categories

                                  Environment    Society   Economy        tot
Russia                                24520.0    12746.0    5037.0    42303.0
Luxembourg                              763.0     1158.0     486.0     2407.0
New Caledonia                          1317.0      363.0      34.0     1714.0
Trinidad and Tobago                     354.0      385.0     182.0      921.0
Saint Vincent and the Grenadines          8.0        3.0       2.0       13.0
...                                       ...        ...       ...        ...
Palestine                               256.0      626.0     223.0     1105.0
Costa Rica                             2031.0      905.0     396.0     3332.0
Grenada                                  43.0       62.0      18.0      123.0
Saint Lucia                              11.0       10.0       2.0       23.0
world                               2644195.0  2588277.0  722441.0  5954913.0

[218 rows x 4 columns]

In [36]:
df_spec_raw_dt = df_spec_raw.loc[:, lst_dt]
df_spec_raw_dt.loc[:, 'tot'] = df_spec_raw_dt.sum(axis=1)
df_spec_raw_dt

,AI,big_data,IOT,computing_infrastructure,blockchain,robotics,additive_manufacturing,tot
Russia,17101.0,1745.0,2376.0,3573.0,518.0,4018.0,4515.0,33846.0
Luxembourg,806.0,156.0,369.0,332.0,44.0,264.0,59.0,2030.0
New Caledonia,71.0,3.0,0.0,1.0,0.0,5.0,0.0,80.0
Trinidad and Tobago,102.0,2.0,7.0,12.0,1.0,14.0,4.0,142.0
Saint Vincent and the Grenadines,6.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...
Palestine,3.0,2.0,3.0,0.0,0.0,0.0,0.0,8.0
Costa Rica,176.0,16.0,37.0,31.0,0.0,69.0,24.0,353.0
Grenada,22.0,0.0,1.0,0.0,0.0,6.0,2.0,31.0
Saint Lucia,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
world,2019381.0,228113.0,501330.0,320170.0,34501.0,575782.0,264913.0,3944190.0

In [37]:
df_spec_raw_sdg = df_spec_raw.loc[:, lst_sdg]
df_spec_raw_sdg.loc[:, 'tot'] = df_spec_raw_sdg.sum(axis=1)
df_spec_raw_sdg

,SDG1,SDG2,SDG3,SDG4,SDG5,SDG6,SDG7,SDG8,SDG9,SDG10,SDG11,SDG12,SDG13,SDG14,SDG15,SDG16,SDG17,tot
Russia,291.0,312.0,3114.0,1082.0,1788.0,2417.0,1096.0,957.0,784.0,624.0,1330.0,1638.0,13533.0,8828.0,2216.0,1621.0,1521.0,43152.0
Luxembourg,82.0,37.0,244.0,90.0,71.0,363.0,87.0,64.0,52.0,63.0,159.0,232.0,555.0,99.0,110.0,80.0,106.0,2494.0
New Caledonia,4.0,11.0,46.0,15.0,267.0,4.0,8.0,0.0,0.0,3.0,6.0,20.0,224.0,1021.0,72.0,9.0,11.0,1721.0
Trinidad and Tobago,21.0,16.0,124.0,25.0,61.0,52.0,33.0,16.0,37.0,16.0,30.0,50.0,147.0,149.0,64.0,50.0,78.0,969.0
Saint Vincent and the Grenadines,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,3.0,3.0,2.0,1.0,0.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Palestine,44.0,25.0,220.0,33.0,31.0,141.0,47.0,18.0,63.0,9.0,58.0,91.0,142.0,81.0,40.0,37.0,59.0,1139.0
Costa Rica,40.0,42.0,126.0,45.0,180.0,316.0,46.0,28.0,28.0,26.0,89.0,230.0,791.0,798.0,447.0,77.0,114.0,3423.0
Grenada,2.0,0.0,43.0,2.0,8.0,2.0,2.0,0.0,4.0,5.0,3.0,2.0,23.0,18.0,3.0,2.0,8.0,127.0
Saint Lucia,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,6.0,0.0,3.0,2.0,6.0,0.0,2.0,23.0
world,120625.0,89733.0,706438.0,190477.0,300975.0,598317.0,225075.0,72622.0,93317.0,74840.0,249844.0,361954.0,1407574.0,850851.0,400782.0,197571.0,173078.0,6114073.0

In [38]:
df_spec_raw_cat_dt = df_spec_raw.loc[:, lst_cat_dt]
df_spec_raw_cat_dt.loc[:, 'tot'] = df_spec_raw_cat_dt.sum(axis=1)
df_spec_raw_cat_dt

,Environment-AI,Environment-robotics,Environment-IOT,Society-AI,Society-robotics,Society-IOT,Economy-AI,Economy-robotics,Economy-IOT,tot
Russia,230.0,107.0,29.0,277.0,85.0,63.0,56.0,23.0,33.0,903.0
Luxembourg,15.0,7.0,0.0,54.0,9.0,1.0,10.0,1.0,5.0,102.0
New Caledonia,18.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,26.0
Trinidad and Tobago,7.0,3.0,0.0,2.0,1.0,0.0,6.0,0.0,3.0,22.0
Saint Vincent and the Grenadines,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
Palestine,6.0,0.0,0.0,5.0,0.0,5.0,6.0,0.0,0.0,22.0
Costa Rica,8.0,9.0,0.0,3.0,6.0,3.0,6.0,0.0,0.0,35.0
Grenada,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0
Saint Lucia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
world,37686.0,11815.0,6307.0,50369.0,10432.0,20237.0,10094.0,2394.0,4320.0,153654.0

In [39]:
df_spec_raw_sdg_dt = df_spec_raw.loc[:, lst_sdg_dt]
df_spec_raw_sdg_dt.loc[:, 'tot'] = df_spec_raw_sdg_dt.sum(axis=1)
df_spec_raw_sdg_dt

,SDG1-AI,SDG1-big_data,SDG1-IOT,SDG1-computing_infrastructure,SDG1-blockchain,SDG1-robotics,SDG1-additive_manufacturing,SDG2-AI,SDG2-big_data,SDG2-IOT,...,SDG16-robotics,SDG16-additive_manufacturing,SDG17-AI,SDG17-big_data,SDG17-IOT,SDG17-computing_infrastructure,SDG17-blockchain,SDG17-robotics,SDG17-additive_manufacturing,tot
Russia,56.0,24.0,33.0,22.0,14.0,23.0,48.0,56.0,24.0,33.0,...,23.0,48.0,56.0,24.0,33.0,22.0,14.0,23.0,48.0,3740.0
Luxembourg,10.0,4.0,5.0,8.0,1.0,1.0,7.0,10.0,4.0,5.0,...,1.0,7.0,10.0,4.0,5.0,8.0,1.0,1.0,7.0,612.0
New Caledonia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Trinidad and Tobago,6.0,1.0,3.0,3.0,0.0,0.0,3.0,6.0,1.0,3.0,...,0.0,3.0,6.0,1.0,3.0,3.0,0.0,0.0,3.0,272.0
Saint Vincent and the Grenadines,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Palestine,6.0,4.0,0.0,0.0,0.0,0.0,5.0,6.0,4.0,0.0,...,0.0,5.0,6.0,4.0,0.0,0.0,0.0,0.0,5.0,255.0
Costa Rica,6.0,3.0,0.0,0.0,0.0,0.0,0.0,6.0,3.0,0.0,...,0.0,0.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,153.0
Grenada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Saint Lucia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
world,10094.0,3466.0,4320.0,3099.0,702.0,2394.0,2791.0,10094.0,3466.0,4320.0,...,2394.0,2791.0,10094.0,3466.0,4320.0,3099.0,702.0,2394.0,2791.0,456722.0

In [40]:
lst_df_spec = []
for df_spec_raw in [df_spec_raw_categories,df_spec_raw_sdg, df_spec_raw_dt, df_spec_raw_cat_dt, df_spec_raw_sdg_dt]:
    df_spec = df_spec_raw.copy().iloc[:-1, :-1].loc[lst_eu+rest, :]
    for cat in df_spec.columns:
        for country in df_spec.index:
            df_spec.loc[country,cat] = (df_spec_raw.loc[country,cat] / df_spec_raw.loc[country, 'tot']) / (df_spec_raw.loc["world", cat] / df_spec_raw.loc['world', 'tot'])
    lst_df_spec.append(df_spec)

In [42]:
lst_df_spec[-1]

,SDG1-AI,SDG1-big_data,SDG1-IOT,SDG1-computing_infrastructure,SDG1-blockchain,SDG1-robotics,SDG1-additive_manufacturing,SDG2-AI,SDG2-big_data,SDG2-IOT,...,SDG16-blockchain,SDG16-robotics,SDG16-additive_manufacturing,SDG17-AI,SDG17-big_data,SDG17-IOT,SDG17-computing_infrastructure,SDG17-blockchain,SDG17-robotics,SDG17-additive_manufacturing
Austria,1.083758,0.696224,0.707549,0.830587,0.916662,1.343979,1.441009,1.083758,0.696224,0.707549,...,0.916662,1.343979,1.441009,1.083758,0.696224,0.707549,0.830587,0.916662,1.343979,1.441009
Belgium,1.042681,0.679237,1.699000,0.536242,0.394543,0.520619,1.240456,1.042681,0.679237,1.699000,...,0.394543,0.520619,1.240456,1.042681,0.679237,1.699000,0.536242,0.394543,0.520619,1.240456
Bulgaria,1.330791,0.000000,2.072994,1.444875,0.000000,0.000000,0.000000,1.330791,0.000000,2.072994,...,0.000000,0.000000,0.000000,1.330791,0.000000,2.072994,1.444875,0.000000,0.000000,0.000000
Croatia,0.618972,1.081577,1.880157,1.008052,0.000000,0.782946,1.343154,0.618972,1.081577,1.880157,...,0.000000,0.782946,1.343154,0.618972,1.081577,1.880157,1.008052,0.000000,0.782946,1.343154
Cyprus,0.506968,0.738219,1.776852,1.238464,0.000000,1.068783,1.833512,0.506968,0.738219,1.776852,...,0.000000,1.068783,1.833512,0.506968,0.738219,1.776852,1.238464,0.000000,1.068783,1.833512
Czech Republic,0.681365,0.496083,0.845781,0.000000,0.306165,1.077333,4.235414,0.681365,0.496083,0.845781,...,0.306165,1.077333,4.235414,0.681365,0.496083,0.845781,0.000000,0.306165,1.077333,4.235414
Denmark,1.069385,0.830496,0.832899,2.244716,1.025107,0.601190,0.171892,1.069385,0.830496,0.832899,...,1.025107,0.601190,0.171892,1.069385,0.830496,0.832899,2.244716,1.025107,0.601190,0.171892
Estonia,1.425847,0.830496,0.666319,0.619232,0.000000,1.202381,0.687567,1.425847,0.830496,0.666319,...,0.000000,1.202381,0.687567,1.425847,0.830496,0.666319,0.619232,0.000000,1.202381,0.687567
Finland,0.332698,0.780513,1.619526,1.324468,2.657684,0.857253,2.072251,0.332698,0.780513,1.619526,...,2.657684,0.857253,2.072251,0.332698,0.780513,1.619526,1.324468,2.657684,0.857253,2.072251
France,0.860251,1.042474,1.119686,1.448009,0.830166,0.657267,1.106670,0.860251,1.042474,1.119686,...,0.830166,0.657267,1.106670,0.860251,1.042474,1.119686,1.448009,0.830166,0.657267,1.106670
Germany,0.932925,0.697399,1.072439,0.641866,0.896688,1.514527,1.488548,0.932925,0.697399,1.072439,...,0.896688,1.514527,1.488548,0.932925,0.697399,1.072439,0.641866,0.896688,1.514527,1.488548
Greece,1.004509,0.875491,1.113592,1.050818,0.210858,1.267524,0.875086,1.004509,0.875491,1.113592,...,0.210858,1.267524,0.875086,1.004509,0.875491,1.113592,1.050818,0.210858,1.267524,0.875086
Hungary,0.472617,2.535471,0.929941,0.972252,0.357670,0.524403,1.709279,0.472617,2.535471,0.929941,...,0.357670,0.524403,1.709279,0.472617,2.535471,0.929941,0.972252,0.357670,0.524403,1.709279
Ireland,0.995388,0.693206,1.365142,0.775299,1.555718,1.551039,0.469558,0.995388,0.693206,1.365142,...,1.555718,1.551039,0.469558,0.995388,0.693206,1.365142,0.775299,1.555718,1.551039,0.469558
Italy,0.667865,0.984018,1.343522,0.894599,1.079647,1.258022,1.565019,0.667865,0.984018,1.343522,...,1.079647,1.258022,1.565019,0.667865,0.984018,1.343522,0.894599,1.079647,1.258022,1.565019
Latvia,0.332698,0.000000,0.000000,0.000000,0.000000,0.000000,8.422698,0.332698,0.000000,0.000000,...,0.000000,0.000000,8.422698,0.332698,0.000000,0.000000,0.000000,0.000000,0.000000,8.422698
Lithuania,0.626254,0.797928,0.640189,0.382467,0.562804,0.495098,4.388296,0.626254,0.797928,0.640189,...,0.562804,0.495098,4.388296,0.626254,0.797928,0.640189,0.382467,0.562804,0.495098,4.388296
Luxembourg,0.739328,0.861255,0.863747,1.926500,1.063074,0.311728,1.871711,0.739328,0.861255,0.863747,...,1.063074,0.311728,1.871711,0.739328,0.861255,0.863747,1.926500,1.063074,0.311728,1.871711
Malta,0.000000,0.000000,0.000000,8.669248,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.669248,0.000000,0.000000,0.000000
Netherlands,0.837511,1.612270,0.547270,1.132782,1.122606,1.735704,0.718737,0.837511,1.612270,0.547270,...,1.122606,1.735704,0.718737,0.837511,1.612270,0.547270,1.132782,1.122606,1.735704,0.718737
Poland,0.977724,0.632759,0.812275,0.920002,1.249654,0.687075,2.121636,0.977724,0.632759,0.812275,...,1.249654,0.687075,2.121636,0.977724,0.632759,0.812275,0.920002,1.249654,0.687075,2.121636
Portugal,0.887194,0.710536,1.053772,0.891006,0.318922,1.122222,1.871711,0.887194,0.710536,1.053772,...,0.318922,1.122222,1.871711,0.887194,0.710536,1.053772,0.891006,0.318922,1.122222,1.871711
Romania,0.839237,0.872894,1.680806,0.312405,0.517171,1.718719,0.953922,0.839237,0.872894,1.680806,...,0.517171,1.718719,0.953922,0.839237,0.872894,1.680806,0.312405,0.517171,1.718719,0.953922
Slovakia,1.101344,0.133643,0.214448,0.149470,0.000000,0.386973,4.647006,1.101344,0.133643,0.214448,...,0.000000,0.386973,4.647006,1.101344,0.133643,0.214448,0.149470,0.000000,0.386973,4.647006
Slovenia,0.443597,0.861255,1.266830,0.642167,0.708716,2.078189,2.317356,0.443597,0.861255,1.266830,...,0.708716,2.078189,2.317356,0.443597,0.861255,1.266830,0.642167,0.708716,2.078189,2.317356
Spain,0.844979,0.822291,1.285515,0.885859,0.298523,1.006674,1.636860,0.844979,0.822291,1.285515,...,0.298523,1.006674,1.636860,0.844979,0.822291,1.285515,0.885859,0.298523,1.006674,1.636860
Sweden,0.812301,1.535160,1.049958,0.956995,1.118298,0.838023,1.093857,0.812301,1.535160,1.049958,...,1.118298,0.838023,1.093857,0.812301,1.535160,1.049958,0.956995,1.118298,0.838023,1.093857
Australia,0.785591,1.381873,0.961850,1.514815,1.174778,1.139446,0.625061,0.785591,1.381873,0.961850,...,1.174778,1.139446,0.625061,0.785591,1.381873,0.961850,1.514815,1.174778,1.139446,0.625061
Canada,0.933888,1.468667,0.992855,1.216737,1.745679,0.748148,0.455966,0.933888,1.468667,0.992855,...,1.745679,0.748148,0.455966,0.933888,1.468667,0.992855,1.216737,1.745679,0.748148,0.455966
China,1.184497,1.109212,0.854234,1.142873,1.074150,0.746876,0.462569,1.184497,1.109212,0.854234,...,1.074150,0.746876,0.462569,1.184497,1.109212,0.854234,1.142873,1.074150,0.746876,0.462569
Iceland,0.532316,0.000000,1.243796,0.000000,0.000000,0.000000,5.775564,0.532316,0.000000,1.243796,...,0.000000,0.000000,5.775564,0.532316,0.000000,1.243796,0.000000,0.000000,0.000000,5.775564
Israel,0.554496,0.322971,0.000000,0.000000,0.000000,4.675926,3.208647,0.554496,0.322971,0.000000,...,0.000000,4.675926,3.208647,0.554496,0.322971,0.000000,0.000000,0.000000,4.675926,3.208647
Japan,1.024458,0.760505,1.032586,1.210423,0.433253,1.778616,0.399567,1.024458,0.760505,1.032586,...,0.433253,1.778616,0.399567,1.024458,0.760505,1.032586,1.210423,0.433253,1.778616,0.399567
Norway,1.090509,1.345712,0.561436,0.842844,1.063074,1.091049,1.002702,1.090509,1.345712,0.561436,...,1.063074,1.091049,1.002702,1.090509,1.345712,0.561436,0.842844,1.063074,1.091049,1.002702
South Korea,1.053226,1.007669,1.430366,1.089848,1.148120,0.545079,0.385038,1.053226,1.007669,1.430366,...,1.148120,0.545079,0.385038,1.053226,1.007669,1.430366,1.089848,1.148120,0.545079,0.385038
Switzerland,0.894207,2.052715,0.983238,0.445455,1.210139,1.020202,0.646802,0.894207,2.052715,0.983238,...,1.210139,1.020202,0.646802,0.894207,2.052715,0.983238,0.445455,1.210139,1.020202,0.646802
United Kingdom,0.867382,0.968236,1.076279,0.865110,1.335333,1.112042,1.370336,0.867382,0.968236,1.076279,...,1.335333,1.112042,1.370336,0.867382,0.968236,1.076279,0.865110,1.335333,1.112042,1.370336
United States,1.014900,1.106317,0.751350,0.973510,1.001606,1.550484,0.755780,1.014900,1.106317,0.751350,...,1.001606,1.550484,0.755780,1.014900,1.106317,0.751350,0.973510,1.001606,1.550484,0.755780

In [43]:
with pd.ExcelWriter('output.xlsx') as writer:
     for i, df in enumerate(lst_df_spec):
        df.to_excel(writer, sheet_name=f'Sheet{i+1}')

## New Specialization graphs

In [50]:
def transform_discrete_value(value):
    if value < 0.75:
        return "Under-specialized (RTA < 0.75)"
    elif 0.75 <= value <= 1.25:
        return "Not-specialized (0.75 <= RTA <= 1.25)"
    elif value > 1.25:
        return "Specialized (RTA > 1.25)"
    else:
        return "error"

In [51]:
def reorder_values(dataframe, col):
    """

    Args:
        dataframe:
        col:

    Returns:
        The dataframe reordered so that Specialized is on top, Not specialized in the middle, and under specialized is
        at the bottom of the legend
    """
    lst_index = list(dataframe.index)

    bottom_index = dataframe.loc[dataframe[col] == "Under-specialized (RTA < 0.75)"].index
    middle_index = dataframe.loc[dataframe[col] == "Not-specialized (0.75 <= RTA <= 1.25)"].index
    top_index = dataframe.loc[dataframe[col] == "Specialized (RTA > 1.25)"].index

    new_order = [top_index, middle_index, bottom_index]
    new_order_single_elem = []
    for elem in new_order:
        if len(elem) > 0:
            new_order_single_elem.append(elem[0])
            lst_index.remove(elem[0])

    return new_order_single_elem + lst_index



### CATGORIES SPEC GRAPHS

In [52]:
import plotly.express as px
# df_spec_cat = pd.read_excel("../img/Commission/spec_fractional.xlsx", sheet_name="cat", index_col=0)
df_spec_cat = pd.read_excel("../img/Commission/spec.xlsx", sheet_name="categories", index_col=0)
df_spec_cat = df_spec_cat.loc[lst_eu, :]
df_spec_cat = df_spec_cat.apply(np.vectorize(transform_discrete_value))


for cat in lst_cat:
    ordered_index = reorder_values(df_spec_cat, cat)
    fig = px.choropleth(
        # locations=df_spec_cat.loc[lst_eu, :].index,
        locations=ordered_index,
        color=df_spec_cat.loc[ordered_index, cat],
        color_discrete_map={"Under-specialized (RTA < 0.75)":"#2ECBE9", "Not-specialized (0.75 <= RTA <= 1.25)":"#128FC8", "Specialized (RTA > 1.25)":"#00468B"},
        locationmode="country names",
    )

    fig.update_layout(
        template='simple_white',
        font=dict(size=18),
        showlegend=True,
        legend=dict
            (
            title="Specialization",
            yanchor="top",
            y=1,
            xanchor="left",
            x=0.048,
            bordercolor="Black",
            borderwidth=2
            ),
        geo=go.layout.Geo(
            scope="world",
            landcolor='lightgray',
            projection_scale=float(6.1),
            center=dict(lon=15, lat=52),
            projection_type="azimuthal equal area",
            showland=True,
            showcountries=False,
        ),
        height=1080,
        width=1200


    )
    fig.write_image(f"../img/Commission/maps/specialization/full_count/{cat}.jpg")
    # pio.write_image(fig, folder, format='png')

### DT SPEC GRAPSH

In [53]:
import plotly.express as px
# df_spec_dt =pd.read_excel("../img/Commission/spec_fractional.xlsx", sheet_name="dt", index_col=0)
df_spec_dt = pd.read_excel("../img/Commission/spec.xlsx", sheet_name="DT", index_col=0)
df_spec_dt = df_spec_dt.loc[lst_eu, :]
df_spec_dt = df_spec_dt.apply(np.vectorize(transform_discrete_value))
for dt in ['AI', 'IOT', 'robotics']:
    ordered_index = reorder_values(df_spec_dt, dt)
    fig = px.choropleth(
        locations=ordered_index,
        color=df_spec_dt.loc[ordered_index, dt],
        color_discrete_map={"Under-specialized (RTA < 0.75)":"#2ECBE9", "Not-specialized (0.75 <= RTA <= 1.25)":"#128FC8", "Specialized (RTA > 1.25)":"#00468B"},
        locationmode="country names",
    )

    fig.update_layout(
        template='simple_white',
        font=dict(size=18),
        showlegend=True,

        legend=dict
            (
            title="Specialization",
            yanchor="top",
            y=1,
            xanchor="left",
            x=0.048,
            bordercolor="Black",
            borderwidth=2
            ),
        geo=go.layout.Geo(
            scope="world",
            landcolor='lightgray',
            projection_scale=float(6.1),
            center=dict(lon=15, lat=52),
            projection_type="azimuthal equal area",
            showland=True,
            showcountries=False,
        ),
        height=1080,
        width=1200


    )
    fig.write_image(f"../img/Commission/maps/specialization/full_count//{dt}.jpg")
    # pio.write_image(fig, folder, format='png')

## CAT DT SPEC GRAPHS

In [75]:
df_spec_cat_dt = pd.read_excel("../img/Commission/spec.xlsx", sheet_name="SDG-DT", index_col=0)

df_spec_cat_dt.loc[eu_countries+other_countries, ['Economy-AI', 'Economy-IOT', 'Environment-AI', 'Environment-IOT', 'Society-AI', 'Society-IOT']].to_excel("frac_countries_inter_cat.xlsx")

In [54]:
import plotly.express as px
# df_spec_cat_dt = pd.read_excel("../img/Commission/spec_fractional.xlsx", sheet_name="cat-dt", index_col=0)
df_spec_cat_dt = pd.read_excel("../img/Commission/spec.xlsx", sheet_name="SDG-DT", index_col=0)

df_spec_cat_dt = df_spec_cat_dt.fillna(0)
df_spec_cat_dt = df_spec_cat_dt.loc[lst_eu, :]
df_spec_cat_dt = df_spec_cat_dt.apply(np.vectorize(transform_discrete_value))

for dt in df_spec_cat_dt.columns:
    ordered_index = reorder_values(df_spec_cat_dt, dt)
    fig = px.choropleth(
        locations=ordered_index,
        color=df_spec_cat_dt.loc[ordered_index, dt],
        color_discrete_map={"Under-specialized (RTA < 0.75)":"#2ECBE9", "Not-specialized (0.75 <= RTA <= 1.25)":"#128FC8", "Specialized (RTA > 1.25)":"#00468B"},
        locationmode="country names",
    )

    fig.update_layout(
        template='simple_white',
        font=dict(size=18),
        showlegend=True,

        legend=dict
            (
            title="Specialization",
            yanchor="top",
            y=1,
            xanchor="left",
            x=0.048,
            bordercolor="Black",
            borderwidth=2
            ),
        geo=go.layout.Geo(
            scope="world",
            landcolor='lightgray',
            projection_scale=float(6.1),
            center=dict(lon=15, lat=52),
            projection_type="azimuthal equal area",
            showland=True,
            showcountries=False,
        ),
        height=1080,
        width=1200


    )
    fig.write_image(f"../img/Commission/maps/specialization/full_count/{dt}.jpg")
    # pio.write_image(fig, folder, format='png')

## SDG SPEC GRAPHS

In [55]:
import plotly.express as px
# df_spec_sdg = pd.read_excel("../img/Commission/spec_fractional.xlsx", sheet_name="sdg", index_col=0)
df_spec_sdg = pd.read_excel("../img/Commission/spec.xlsx", sheet_name="SDG", index_col=0)
df_spec_sdg = df_spec_sdg.fillna(0)
df_spec_sdg = df_spec_sdg.loc[lst_eu, :]
df_spec_sdg = df_spec_sdg.apply(np.vectorize(transform_discrete_value))

for sdg in lst_sdg:
    ordered_index = reorder_values(df_spec_sdg, sdg)
    fig = px.choropleth(
        locations=ordered_index,
        color=df_spec_sdg.loc[ordered_index, sdg],
        color_discrete_map={"Under-specialized (RTA < 0.75)":"#2ECBE9", "Not-specialized (0.75 <= RTA <= 1.25)":"#128FC8", "Specialized (RTA > 1.25)":"#00468B"},
        locationmode="country names",
    )

    fig.update_layout(
        template='simple_white',
        font=dict(size=18),
        showlegend=True,

        legend=dict
            (
            title="Specialization",
            yanchor="top",
            y=1,
            xanchor="left",
            x=0.048,
            bordercolor="Black",
            borderwidth=2
            ),
        geo=go.layout.Geo(
            scope="world",
            landcolor='lightgray',
            projection_scale=float(6.1),
            center=dict(lon=15, lat=52),
            projection_type="azimuthal equal area",
            showland=True,
            showcountries=False,
        ),
        height=1080,
        width=1200


    )
    fig.write_image(f"../img/Commission/maps/specialization/full_count/SDG/{sdg}.jpg")
    # pio.write_image(fig, folder, format='png')