# Last revision

In [2]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.collections import PatchCollection
import plotly.graph_objects as go

from plotly.subplots import make_subplots
import plotly

In [3]:
eu = pd.read_excel("../data/countries_eu.xlsx", sheet_name='EU')['Country'].to_list()
eu

['Austria',
 'Belgium',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Ireland',
 'Italy',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Netherlands',
 'Poland',
 'Portugal',
 'Romania',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden']

In [3]:
eu_countries = pd.read_excel("../data/countries_eu.xlsx", sheet_name='EU').Country.to_list()
other_countries = pd.read_excel("../data/countries_eu.xlsx", sheet_name='rest').Country.to_list()
gdp = pd.read_csv("../data/countriesgdp_pop.csv", index_col="ranking")
gdp = gdp[gdp.Country.isin(eu_countries + other_countries)].set_index("Country")
gdp.loc["EU", "gdppc"] = 44024
gdp.loc["EU", "pop2022"] = 446800
gdp

                   gdppc      pop2022           gdp
Country
Luxembourg      118001.0      647.599  7.641733e+07
Ireland          94392.0     5023.109  4.741413e+08
Switzerland      72874.0     8740.472  6.369532e+08
Norway           65800.0     5434.319  3.575782e+08
United States    63416.0   338289.857  2.145299e+10
Denmark          58932.0     5882.261  3.466534e+08
Netherlands      57534.0    17564.014  1.010528e+09
Austria          55218.0     8939.617  4.936278e+08
Sweden           54146.0    10549.347  5.712049e+08
Germany          54076.0    83369.843  4.508308e+09
Australia        51680.0    26177.413  1.352849e+09
Belgium          51096.0    11655.930  5.955714e+08
Finland          49853.0     5540.745  2.762228e+08
Canada           48720.0    38454.327  1.873495e+09
France           46062.0    64626.628  2.976832e+09
South Korea      44621.0    51815.810  2.312073e+09
United Kingdom   44117.0    67508.936  2.978292e+09
Malta            42856.0      533.286  2.285450e+07
Japan            42248.0   123951.692  5.236711e+09
Italy            40861.0    59037.474  2.412330e+09
Czech Republic   40618.0    10493.986  4.262447e+08
Israel           40547.0     9038.309  3.664763e+08
Cyprus           40107.0     1251.488  5.019343e+07
Slovenia         40067.0     2119.844  8.493579e+07
Spain            39121.0    47558.630  1.860541e+09
Estonia          38834.0     1326.062  5.149629e+07
Lithuania        38824.0     2750.055  1.067681e+08
Poland           34103.0    39857.145  1.359248e+09
Portugal         34043.0    10270.865  3.496511e+08
Hungary          33030.0     9967.308  3.292202e+08
Slovakia         32709.0     5643.453  1.845917e+08
Latvia           31509.0     1850.651  5.831216e+07
Romania          30526.0    19659.267  6.001188e+08
Greece           28748.0    10384.971  2.985471e+08
Croatia          27717.0     4030.358  1.117094e+08
Bulgaria         23817.0     6781.953  1.615258e+08
China            17192.0  1425887.337  2.451386e+10
EU               44024.0   446800.000           NaN

In [4]:
df_sdg = pd.read_pickle("../data/dataframes/output/all_sdg_fixed_dst.pkl")
df_digital = pd.read_pickle("../data/dataframes/DT/dt_updated.pkl")

# Filtering for Journal only
df_sdg = df_sdg[df_sdg.PT == 'J']
df_digital = df_digital[df_digital.PT == 'J']
df_sdg_dt = df_sdg[df_sdg['DST']]

dic_countries = {country:{year:[0,0,0] for year in range(2010,2022)} for country in gdp.index}
idx_sdg = {name: i for i, name in enumerate(list(df_sdg), start=0)}
idx_dt = {name: i for i, name in enumerate(list(df_digital), start=0)}
idx_sdg_dt = {name: i for i, name in enumerate(list(df_sdg_dt), start=0)}

In [7]:
df_digital.groupby('PY')['AB'].count()

PY
2010     18704
2011     21277
2012     23706
2013     27289
2014     30654
2015     40014
2016     48769
2017     55880
2018     77977
2019    104257
2020    136632
2021    170309
Name: AB, dtype: int64

In [14]:
# % change 2021 versus 2010
((170309/18704)-1)*100

810.5485457656116

In [17]:
# % out of WOS
100*170309/2614139

6.514917531164181

In [19]:
# % change 2021 2021 out of WOS
((6.51/1.25)-1)*100

420.8

In [23]:
# % of SDG-DT publications out of DT
(10433/170309)*100
# % change 2021 versus 2010
((6.13/2.21)-1)*100

177.37556561085972

In [29]:
# Tracking changes for figure 5
def value_cat(cat):
    f = df_digital.groupby(cat)["AB"].count().loc[False]
    t = df_digital.groupby(cat)["AB"].count().loc[True]
    tot = t+f
    return t/tot
# For AI
print(value_cat('AI')*100)
print(value_cat('IOT')*100)
print(value_cat('robotics')*100)
print(value_cat("blockchain")*100)

57.893782397136604
14.925714921082031
16.676417796650554
1.2041542461096963